{{ define "style" }}
	{{ partial "css/inline" "home-page.css" }}
{{ end }}

{{ define "partials/home-usealttech" }}
	<div class="cntr use-alttech">
		<div class="row align-center">

			<div class="col md-6">
				<h1 class="mb-8">Use AltTech!</h1>
				<article>
					<p>
						Change starts with the content creators.
						As a content creator, using AltTech not only protects your own voice from <b><u>censorship</u></b>, but it also helps to nullify the <b><u>propaganda</u></b> that inevitably follows.
						<a href="/creators/">Read here</a> for more on why and how to go about trying AltTech.
					</p>
				</article>
			</div>

			<div class="col md-6">
				<div class="altfor-map">
					{{ range $i, $v := slice "Twitter" "Patreon" "YouTube" "Facebook" }}
						{{ $k := $v | anchorize }}

						<div>
							<input type="radio" name="platform" id="{{ $k }}"{{ if eq $i 0 }}checked{{ end }}>

							<label for="{{ $k }}">
								<img src="/img/logos/{{ $k }}.png" width="24" height="24" loading="lazy">
								<div>{{ $v }}</div>
							</label>

							<div class="alts">
								{{ range index site.Taxonomies.altfor $k }}
									<a href="{{ .RelPermalink }}" class="open">
										<img src="/img/logos/{{ .Title | anchorize }}.png" width="24" height="24" loading="lazy">
										{{ .Title }}
									</a>
								{{ end }}
							</div>
						</div>
					{{ end }}
				</div>
			</div>

		</div>
	</div>
{{ end }}

{{ define "main" }}
	<div class="jtron">
		<div class="cntr">
			<img src="/logo.png" width="400" height="auto">
			<hr>
			<p class="blurb">
				Shining a light on the censorship,<br>
				propaganda, and mass surveillance from<br>
				today's technology companies and governments.
			</p>
		</div>

		<div class="corps">
			{{ range site.Data.orderCorps }}
				<a class="card" href="/{{ .k }}/">
					<img src="/img/logos/{{ .k }}.png" loading="lazy">
					<span>{{ .v }}</span>
				</a>
			{{ end }}
		</div>
	</div>

	{{ partial "home-usealttech" . }}

	<!-- The short timeline of the six most recent events. -->
	<div class="recent-events">
		<div class="cntr">
			<h1>Recent Events:</h1>
			<hr>

			<div class="timeline">
				{{ range (site.GetPage "/events").Pages | first 6 }}
					<div class="item">
						<u><i></i></u>
						<div>{{ partialCached "cards/event" . .RelPermalink }}</div>
					</div>
				{{ end }}
			</div>

			<a href="/events/" class="btn light-blue">&#x25cf; &#x25cf; &#x25cf;</a>
		</div>
	</div>
{{ end }}
