{{ define "style" }}
<style>
.jtron {
	background: linear-gradient(var(--cardBg), var(--cardTitleBg));
	border-bottom: var(--border1);
}
.jtron .cntr {
	padding: 5rem 1.25rem;
}
.jtron .blurb {
	font-size: 1.25rem;
	line-height: 2.25;
	margin-left: auto;
	max-width: 475px;
	text-align: right;
}
.jtron .corpos {
	margin: 0 auto 5rem;
	max-width: 600px;
	text-align: center;
}
.jtron .corpos a {
	border: var(--border2);
	color: var(--para);
	display: inline-flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: 0.9rem;
	margin: 0.38rem 0.25rem;
	width: 100px;
	height: 100px;
}
.jtron .corpos a .img {
	margin-bottom: 0.75rem;
	width: 32px !important;
	height: 32px !important;
}
@media (max-width: 500px) {
	.jtron .blurb {
		text-align: center;
	}
}
@media (max-width: 950px) {
	.jtron .blurb br {
		display: none;
	}
}
@media (min-width: 951px) {
	.jtron hr {
		transform: rotate(-40deg);
		margin: 2rem auto -2rem;
		width: 25%;
	}
}

.use-alts {
	align-items: center;
	padding: 5rem 1.5rem;
	text-align: center;
}
.use-alts .tags {
	margin: 1.25rem 0 1.75rem;
}
@media (max-width: 949px) {
	.use-alts {
		padding-top: 2rem;
		width: 600px;
	}
}
@media (min-width: 950px) {
	.use-alts > div:first-child {
		border-right: var(--border1);
		padding-right: 3rem;
	}
	.use-alts > div:last-child {
		padding-left: 2rem;
	}
}

.recent-events {
	background: var(--bodyBg2);
	border-top: var(--border1);
	padding: 3rem 0;
}
.recent-events .cntr > h2 {
	text-align: center;
}
.recent-events a[href="/events/"] {
	display: table;
	margin: 2rem auto;
	padding: 0.75rem 1.5rem;
}
</style>
{{ end }}

{{ define "main" }}
	<div class="jtron">
		<div class="cntr">
			<img width="450" height="auto" src="data:image/png;base64,{{ (resources.Get `logo.png`).Content | base64Encode }}">
			<hr>
			<p class="blurb">
				Shining a light on the censorship,&nbsp;<br>
				propaganda and mass surveillance from&nbsp;<br>
				today's tech corporations and governments.
			</p>
		</div>

		<div class="corpos">
			{{ range site.Data.orderCorps }}
				<a class="card" href="/{{ .k }}/">
					<i class="img {{ .k }}"></i>{{ .v }}
				</a>
			{{ end }}
		</div>
	</div>

	<div class="cntr grid md-6 use-alts">
		<div>
			<h1>Use Better Tech!</h1>
			<article>
				<p>
					Change starts with the content creators.
					As a content creator, using alternative platforms and services ("AltTech") not only protects your own voice from <b><i>censorship</i></b>, but it also helps to nullify the <b><i>propaganda</i></b> that inevitably follows.
					<a href="/use-alttech/">Read here</a> for more on why and how to go about trying AltTech.
				</p>
			</article>
		</div>

		<div>
			<b>Alt Categories / Features:</b>

			<div class="tags">
				{{ range site.Taxonomies.alttrs.ByCount | first 6 }}
					{{ partialCached "tags/alttr" .Page .Page }}
				{{ end }}
			</div>

			<a href="/alts/" class="btn">&nbsp;View All &nbsp;&#x2794;</a>
		</div>
	</div>

	<div class="recent-events">
		<div class="cntr w900">
			<h2>Recent Events</h2>

			{{ partial "events" ((site.GetPage "/events").Pages | first 10) }}

			<a href="/events/" class="btn">All Events &nbsp;&#x2794;</a>
		</div>
	</div>
{{ end }}
