{{ define "style" }}
	{{ partial "css/inline" "home-page.css" }}
{{ end }}

{{ define "partials/home/usealttech" }}
	<div class="cntr use-alttech">
		<div class="grid md-6">
			<div>
				<h1>Use AltTech!</h1>
				<article>
					<p>
						Change starts with the content creators.
						As a content creator, using AltTech not only protects your own voice from <b><u>censorship</u></b>, but it also helps to nullify the <b><u>propaganda</u></b> that inevitably follows.
						<a href="/creators/">Read here</a> for more on why and how to go about trying AltTech.
					</p>
				</article>
			</div>

			<div>
				<div class="altfor-map">
					{{ range $i, $v := slice "Twitter" "Patreon" "YouTube" "Facebook" }}
						{{ $k := $v | anchorize }}

						<div>
							<input type="radio" name="platform" id="{{ $k }}"{{ if eq $i 0 }}checked{{ end }}>

							<label for="{{ $k }}">
								<div class="img {{ $k }}"></div>
								<div>{{ $v }}</div>
							</label>

							<div class="alts">
								{{ range index site.Taxonomies.altfor $k }}
									<a href="{{ .RelPermalink }}" class="open">
										<img src="/img/logos/{{ .Title | anchorize }}.png" width="24" height="24" loading="lazy">
										{{ .Title }}
									</a>
								{{ end }}
							</div>
						</div>
					{{ end }}
				</div>
			</div>
		</div>
	</div>
{{ end }}

{{ define "main" }}
	<div class="jtron">
		<div class="cntr">
			<img src="data:image/png;base64,{{ (resources.Get `static/logo.png`).Content | base64Encode }}" width="400" height="auto">
			<hr>
			<p class="blurb">
				Shining a light on the censorship,&nbsp;<br>
				propaganda, and mass surveillance from&nbsp;<br>
				today's technology companies and governments.
			</p>
		</div>

		<div class="corpos">
			{{ range site.Data.orderCorps }}
				<a class="card" href="/{{ .k }}/">
					<i class="img {{ .k }}"></i>
					{{ .v }}
				</a>
			{{ end }}
		</div>
	</div>

	{{ partial "home/usealttech" . }}

	<!-- The short timeline of the six most recent events. -->
	<div class="recent-events">
		<div class="cntr w900">
			<h1>Recent Events:</h1>
			<hr>

			<div class="timeline">
				{{ range (site.GetPage "/events").Pages | first 6 }}
					<div>
						<u><i></i></u>
						<div>{{ partialCached "cards/event" . .RelPermalink }}</div>
					</div>
				{{ end }}
			</div>

			<a href="/events/" class="btn light-blue">See Full Timeline &nbsp;&#x2794;</a>
		</div>
	</div>
{{ end }}
