{{ define "style" }}
<style>
.p {
	display: block;
	margin-bottom: 6rem;
}
.p:hover {
	text-decoration: none;
}
.p h2 {
	color: var(--bodyColor);
	font-weight: 600;
}
.p:hover h2 {
	text-decoration: underline;
}
</style>
{{ end }}

{{ define "main" }}
	<div class="cntr w900">
		<br>
		<h1>{{ .Title }}</h1>
		<hr><br>

		{{ range .Pages }}
			<a class="p" href="{{ .RelPermalink }}">
				<h2>{{ .Title }}</h2>
				<small>{{ .Date.Format "02 Jan 2006" }}</small>
				<p>{{ .Summary }}</p>
			</a>
		{{ end }}
	</div>
{{ end }}
