{{ define "ogimg" }}{{ with .Resources.GetMatch "banner*" }}http://bigtech.fail/p/{{ $.File.ContentBaseName }}/{{ . }}{{ end }}{{ end }}

{{ define "ogdesc" }}{{ .Summary | plainify }}{{ end }}

{{ define "main" }}
	{{ with .Resources.GetMatch "banner*" }}
		<img src="{{ . }}" style="max-width: 100%; width: 850px; margin: auto;" loading="lazy">
	{{ end }}

	<div class="cntr w800">
		<h1>{{ .Title }}</h1>
		<br>

		<small>By: {{ .Params.author | default "Steve Russo" }}</small>
		{{ with .Date }}| <small>Published: {{ .Format "Jan 2, 2006" }}</small>{{ end }}
		{{ with .Lastmod }}| <small>Updated: {{ .Format "Jan 2, 2006" }}</small>{{ end }}
		<hr>

		<article>{{ .Content }}</article>
	</div>
{{ end }}
