article > img {
	border: var(--border1);
	margin: 3rem 0 3rem 1rem;
}
article img + a {
	display: table;
	margin-top: -3rem;
	margin-left: 1rem;
}
article > h1:first-child {
	display: none;
}
article h2, article h3 {
	font-weight: 500;
}
article h2, article h3, article strong {
	color: var(--strong) !important;
}
article h2 {
	margin-top: 3rem;
	margin-bottom: 2rem;
}
article h2 img {
	display: inline-block;
	vertical-align: middle;
	margin: 0 0.5rem 0 0;
	width: 40px;
	height: 40px;
}
article h3 {
	margin-bottom: 1.5rem;
}
article p, article li {
	line-height: 2;
}
article p, article ol, article ul, article table, article details {
	margin-bottom: 2.5rem;
}
article p + ol, article p + ul {
	margin-top: -2.5rem;
}
blockquote {
	border-left: 3px solid var(--blockquoteBorder);
	margin: 1.5rem 0 2.5rem 1rem;
	padding-left: 1rem;
}
article p + blockquote {
	margin-top: -1.5rem;
}
blockquote > * {
	margin: 0.75rem 0 !important;
}
blockquote *:not(a) {
	color: var(--blockquoteColor) !important;
}
