.btn {
	--padding: 0.75rem;
	--fontSize: 1rem;
	--color: var(--bodyColor);
	background: transparent;
	border: 1px solid var(--color);
	border-radius: 4px;
	color: var(--color);
	font-size: var(--fontSize);
	padding: var(--padding);
	position: relative;
}
.btn:hover {
	cursor: pointer;
	text-decoration: none;
}
.btn:before {
	content: "";
	background: var(--color);
	position: absolute;
	top: 0; right: 0; bottom: 0; left: 0;
	opacity: 0;
}
.btn:hover:before {
	opacity: 0.1;
}

.btn.blue { --color: #2196f3 }
.btn.light-blue { --color: #03a9f4 }
