.card {
	--radius: 4px;
	--imgSize: 48px;
	background: var(--cardBg);
	border: var(--border1);
	border-radius: var(--radius);
	color: var(--bodyColor);
	display: block;
	position: relative;
	max-width: 100%;
	width: 100%;
	height: 100%;
	transition: border .4s cubic-bezier(.4,0,.6,1);
}
.card:after {
	content: "";
	background: var(--cardBefore);
	border-radius: var(--radius);
	opacity: 0;
	transition: opacity .2s cubic-bezier(.4,0,.6,1);
	pointer-events: none;
	position: absolute;
	top: 0; right: 0; bottom: 0; left: 0;
}
.card:hover {
	border-color: #aaa !important;
	text-decoration: none;
}
.card:hover:after {
	opacity: 0.15;
}
.card > div:first-child {
	background: var(--cardTitleBg);
	border-bottom: var(--border1);
	border-radius: var(--radius) var(--radius) 0 0;
	display: flex;
	align-items: center;
	padding: 0.75rem;
}
.card > :first-child img {
	min-width: var(--imgSize); min-height: var(--imgSize);
	max-width: var(--imgSize); max-height: var(--imgSize);
	margin-right: 1rem;
}
.card > :first-child h2 {
	font-size: 1.25rem;
	margin: 0;
}
.card b:before {
	content: attr(title);
	color: var(--articleBold);
	display: -webkit-box;
	font-size: 1.1rem;
	font-weight: 400;
	line-height: 1.4;
	margin-bottom: 0.5rem;
	overflow: hidden;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2
}
.card b {
	color: var(--caption);
	font-size: 0.9rem;
	font-weight: 400;
}
.card > p {
	font-size: 0.98rem;
	line-height: 1.75;
	margin: 0;
	padding: 0.75rem;
}

.profiles .card {
	border-radius: var(--radius) var(--radius) 0 0;
}
.profiles .card > :first-child {
	border-bottom: none;
}
.profiles .card + div {
	background: var(--cardBg);
	border: var(--border1);
	border-top: none;
	border-radius: 0 0 4px 4px;
	padding: 0.25rem;
	display: flex;
	flex-flow: row wrap;
	align-items: center;
}
.profiles .card + div a {
	padding: 0.5rem;
	border-radius: 50%;
}
.profiles .card + div a:hover {
	background: var(--shadowColor);
}
.profiles .card + div a img {
	width: 24px !important;
	height: 24px !important;
}
.profiles .card b:before {
	margin: 0 0 0.25rem 0;
}

.tags .card {
	display: flex;
	align-items: center;
	font-size: 0.9rem;
	margin-bottom: 0.6rem;
}
.tags .card > :first-child {
	background: var(--cardTitleBg);
	border-right: var(--border1);
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	margin-right: 1rem;
	padding: 0.6rem;
	width: 40px !important;
	height: 40px !important;
}
.tags .card > :last-child:not([data-count]):after {
	content: "\2794";
	color: var(--caption);
	position: absolute;
	right: 0.75rem;
}
.tags .card > u {
	display: flex;
	align-items: center;
	padding: 0;
	text-decoration: none;
}
.tags .card div[data-count] {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 0.75rem 0 0;
	width: 100%;
}
.tags .card div[data-count]:after {
	--h: 21px;
	--fs: 15px;
	background: var(--bodyBg);
	color: var(--articleBold);
	margin: 0;
}

.alttech.card div:after, .profiles .card div:after, .alttrs .card u:after {
	content: "\2794";
	color: var(--caption);
	position: absolute;
}
.alttech.card div:after, .profiles .card div:after {
	font-size: 1.4rem;
	top: 0.5rem;
	right: 0.75rem;
}

.corpos {
	padding-top: 0 !important;
}
.corpos .card {
	display: inline-flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: 0.7rem;
	padding: 0.25rem;
}
.corpos .card img, .corpos .card .img {
	margin: 0.2rem auto 0.25rem;
	width: 24px !important;
	height: 24px !important;
}
.corpos .card .img:after {
	position: absolute;
	top: 0;
	left: 0;
}
.corpos > div {
	padding: 0.25rem !important;
}

.alttrs .card, .alttrs .card u {
	display: flex;
	align-items: center;
	padding: 0 0.25rem;
}
.alttrs .card img {
	margin: 0.5rem;
	width: 24px;
	height: 24px;
}
.alttrs .card u {
	display: block;
	font-size: 0.87rem;
	padding-right: 1.5rem;
	text-decoration: none;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
.alttrs .card u:after {
	right: 0.5rem;
	font-size: 0.8rem;
}
