:root {
	--bodyBg: #1b1b1b;
	--bodyBg2: #242424;
	--bodyColor: #f8f8f8;

	--navBg: #1c1c1c;
	--navColor: #eee;
	--navHeight: 68px;

	--borderColor: #777;
	--border1: 1px solid var(--borderColor);
	--border2: 2px solid var(--borderColor);

	--para: #d6d6d6;
	--link: #29B6F6;
	--caption: #8f8f8f;
	--shadowColor: rgba(0,0,0,.5);

	--cardBg: #2a2a2a;
	--cardBefore: #000;
	--cardTitleBg: #3e3e3e;

	--tagBg: var(--cardTitleBg);
	--tagHoverBg: var(--cardBg);

	--blockquoteBorder: #666;
	--blockquoteColor: #8f8f8f;
	--articleHeading: #fafafa;
	--articleBold: #fff;
}

@media (prefers-color-scheme: light) {
	:root {
		--bodyBg: #f8f8f8;
		--bodyBg2: #f4f4f4;
		--bodyColor: #444;

		--navBg: #222;
		--borderColor: #ccc;

		--para: #555;
		--link: #03A9F4;
		--caption: #a5a5a5;
		--shadowColor: rgba(100,100,100,.25);

		--cardBg: #fff;
		--cardBefore: #aaa;
		--cardTitleBg: #f2f2f2;

		--tagBg: var(--cardBg);
		--tagHoverBg: var(--cardTitleBg);

		--blockquoteBorder: #ddd;
		--blockquoteColor: #888;
		--articleHeading: #222;
		--articleBold: #333;
	}
}
