input.toggle {
	display: none;
}
input.toggle:checked ~ label .overlay {
	visibility: visible;
	opacity: 1;
	z-index: 5;
}
input.toggle:checked ~ aside {
	transform: translateX(0);
}
input.toggle ~ label {
	cursor: pointer;
}
aside {
	background: var(--bodyBg);
	box-shadow: 0 0 transparent, -15px 0 20px 0 var(--shadowColor);

	position: fixed;
	top: 0;
	right: 0;
	z-index: 6 !important;

	--width: 325px;
	min-width: var(--width);
	max-width: var(--width);

	max-height: 100%;
	height: 100%;
	overflow-y: auto;
	overflow-x: hidden;

	transition: transform 0.35s;
	transform: translateX(110%);
}
