.events div, .events a {
	display: flex;
	align-items: center;
}
.events div {
	border-bottom: var(--border1);
	scroll-margin-top: 10rem;
}
.events div:first-child {
	border-top: var(--border1);
}
.events div:target {
	box-shadow: 0 0 12px 6px var(--borderColor);
}
.events div:hover {
	background: var(--cardBg);
}
.events div > a:first-child {
	padding: 0.75rem 0.4rem 0.75rem 0.75rem;
	width: 100%;
}
.events a:hover b {
	color: var(--strong);
	font-weight: 500;
}
.events u, .events a:hover {
	text-decoration: none;
}
.events img {
	width: 40px !important;
	height: 40px !important;
}
.events b {
	color: var(--bodyColor);
	flex: 1;
	font-size: 1rem;
	font-weight: normal;
	margin: 0 0.75rem;
}
.events u {
	color: var(--caption);
	font-size: 0.85rem;
}
.events div > a:last-child {
	background: no-repeat center/50% url('data:image/png;base64,{{ (resources.Get "link.png").Content | base64Encode }}');
	border-radius: 50%;
	display: table;
	margin-right: 0.4rem;
	width: 40px;
	height: 40px;
}
.events div > a:last-child:hover {
	border: var(--border2);
	background-color: var(--bodyBg);
}
@media (max-width: 599px) {
	.events div > a:first-child {
		padding: 1rem 0.25rem;
	}
	.events b { font-size: 0.95rem }
	.events u { font-size: 0.8rem }
}
