footer {
	background: var(--footerBg);
	border-top: 1px solid var(--border1);
	color: var(--footerColor);
}
footer section {
	display: flex;
	justify-content: space-evenly;
	flex-flow: row wrap;
	border-bottom: 1px solid var(--border1);
	padding-bottom: 1rem;
	margin-bottom: 2rem;
}
footer section > div {
	margin: 2rem 1rem;
}
footer h3 {
	margin-bottom: 1.5rem;
}
footer a {
	color: var(--captionColor);
	display: flex;
	align-items: center;
	margin: 1rem 0 0 0.5rem;
}
footer a > img:first-child,
footer a > .icon:first-child {
	margin-right: 0.5rem;
}
footer a:hover {
	color: #777;
}
footer img[src$="bigtechfail-long.png"] {
	margin: auto;
}
