* {
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body {
	background: var(--bodyBg);
	color: var(--bodyColor);
	font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,Roboto,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji !important;
	font-size: 105%;
	margin: 0;
	word-spacing: 0.075rem;
}

a {
	color: var(--link);
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}

h1, h2, h3 {
	font-weight: normal;
}
h1 {
	font-size: 2.25rem;
}

header {
	display: flex;
	align-items: center;
}
header img {
	margin-right: 1.5rem;
}
.cntr > header:first-child {
	border-bottom: var(--border1);
	margin-bottom: 1rem;
	padding-bottom: 1.5rem;
}
header h1 {
	margin: 0;
}

hr {
	border: 0;
	border-top: var(--border1);
	margin: 1.5rem 0;
	max-height: 0px;
}

img {
	border-radius: 4px;
	display: table;
	max-width: 100% !important;
}

p, li, span, summary {
	color: var(--para);
}

label, summary {
	cursor: pointer;
}
summary:focus {
	outline: none;
}

table {
	border-collapse: collapse;
}
th {
	background: var(--bodyBg);
	text-align: left;
}
table, th, td {
	border-top: var(--border1);
	border-bottom: var(--border1);
}
th, td {
	padding: 0.75rem 1.25rem;
}
th *, td * {
	display: inline-block;
}
tr:nth-child(odd) {
	background-color: var(--cardBg);
}

.srcs {
	overflow: hidden;
}
.srcs li {
	font-size: 0.95rem;
	margin-bottom: 0.5rem;
	line-height: 1.75;
}

[data-count]:after {
	content: attr(data-count) " ";
	background: var(--cardTitleBg);
	border: 1px solid #aaa;
	border-radius: var(--h);
	display: inline-flex;
	align-items: center;
	font-size: var(--fs);
	font-weight: bold;
	height: var(--h);
	margin: 0 0 0 calc(var(--h) / 2);
	padding: 0 0.75rem;
	vertical-align: top;
}
h1[data-count] {
	--h: 25px;
	--fs: 18px;
	margin: 0;
}
h2[data-count] {
	--h: 22px;
	--fs: 17px;
	margin: 4rem 0 0 0;
}
h3[data-count] {
	--h: 19px;
	--fs: 15px;
}

.caption {
	font-size: 0.9rem;
	color: var(--caption);
}

.mb-8 { margin-bottom: 2rem !important }

.cntr, main {
	width: 1200px;
	margin: auto;
	padding: 1.5rem;
	max-width: 100% !important;
}
@media (max-width: 500px) {
	.cntr, main {
		padding: 1rem;
	}
}
.cntr.w900 {
	width: 900px;
}

.grid {
	--c: 12; /* columns */
	display: flex;
	flex-flow: row wrap;
}
.grid > div, section, aside {
	flex: 0 1 auto;
	padding: 0.75rem;
	width: calc(100% / calc(12 / var(--c)));
	max-width: 100%;
}
.grid.xs-3 { --c: 3 }
@media (max-width: 599px) {
	.grid > div {
		padding: 0.5rem 0.25rem;
	}
}
@media (min-width: 600px) {
	.grid.sm-6 { --c: 6 }
}
@media (min-width: 950px) {
	.grid.md-4 { --c: 4 }
	.grid.md-6 { --c: 6 }
}
@media (min-width: 1250px) {
	.grid.lg-4 { --c: 4 }
}

.btn {
	--clr: var(--bodyColor);
	background: transparent;
	border: 1px solid var(--clr);
	border-radius: 4px;
	color: var(--clr);
	font-size: 1rem;
	padding: 0.75rem;
	position: relative;
}
.btn:hover {
	text-decoration: none;
}
.btn:before {
	content: "";
	background: var(--clr);
	position: absolute;
	top: 0; right: 0; bottom: 0; left: 0;
	opacity: 0;
}
.btn:hover:before {
	opacity: 0.1;
}

.btn.blue { --clr: #2196f3 }
.btn.light-blue { --clr: #03a9f4 }

.evtpg > section > header > img {
	width: 128px !important;
	height: 128px !important;
}
.evtpg aside {
	background: var(--bodyBg);
}
.evtpg section > header h1:after {
	content: attr(data-date);
	color: var(--caption);
	display: block;
	font-size: 1.05rem;
	margin-top: 1rem;
}
.evtpg section > article {
	border-bottom: var(--border1);
	margin-bottom: 2rem;
}

.evtpg section > h4:after {
	content: "Sources / Relevant Material";
	font-weight: 600;
}
.profiles > a:not(:first-child) {
	margin-top: 1rem;
}
@media (max-width: 450px) {
	.evtpg section > header {
		flex-direction: column;
		text-align: center;
	}
	.evtpg section > header h1 {
		margin-top: 2rem;
	}
}
@media (min-width: 850px) and (max-width:1249px) {
	.evtpg {
		width: 850px !important;
	}
}
@media (max-width: 1249px) {
	.evtpg aside:before {
		content: "Event Info";
	}
}
