:root {
	--bodyBg: #1b1b1b;
	--bodyBg2: #242424;
	--bodyColor: #f8f8f8;

	--navH: 68px;
	--navBg: #1c1c1c;
	--navColor: #eee;

	--borderColor: #777;
	--border1: 1px solid var(--borderColor);
	--border2: 2px solid var(--borderColor);

	--para: #d6d6d6;
	--link: #29B6F6;
	--strong: #fff;
	--caption: #8f8f8f;
	--blockquote: 143, 143, 143;

	--cardBg: #2a2a2a;
	--cardBefore: #000;
	--cardTitleBg: #3e3e3e;
}

@media (prefers-color-scheme: light) {
	:root {
		--bodyBg: #fbfbfb;
		--bodyBg2: #f4f4f4;
		--bodyColor: #444;

		--navBg: #222;
		--borderColor: #ccc;

		--para: #555;
		--link: #03A9F4;
		--strong: #333;
		--caption: #a5a5a5;
		--blockquote: 136, 136, 136;

		--cardBg: #fff;
		--cardBefore: #aaa;
		--cardTitleBg: #f4f4f4;
	}
}

* {
	box-sizing: border-box;
}
html {
	scroll-behavior: smooth;
}
body {
	background: var(--bodyBg);
	color: var(--bodyColor);
	font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,Roboto,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji !important;
	font-size: 105%;
	margin: 0;
	word-spacing: 0.075rem;
}

a {
	color: var(--link);
	overflow-wrap: break-word;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}

h1, h2, h3 {
	font-weight: normal;
}
h1 {
	font-size: 2.25rem;
	margin: 0;
}
h2 b {
	background: var(--cardTitleBg);
	border: 1px solid #aaa;
	border-radius: 16px;
	font-size: 16px;
	margin-left: 0.6rem;
	padding: 0.125rem 0.75rem;
	vertical-align: top;
}

main, .cntr {
	width: 1200px;
	margin: auto;
	padding: 1.5rem;
	max-width: 100% !important;
}
main {
	width: 1000px;
}
main > div:first-child, header, time {
	display: flex;
	align-items: center;
	margin-bottom: 1.5rem;
}
main > div:first-child img {
	margin-right: 1.5rem;
}
.w800 { width: 800px }
.w900 { width: 900px }
@media (max-width: 500px) {
	main, .cntr {
		padding: 1rem;
	}
}

hr {
	border: 0;
	border-top: var(--border1);
	margin: 1.5rem 0;
	max-height: 0px;
}

img {
	border-radius: 4px;
	display: table;
	max-width: 100% !important;
}

p, li, span, summary {
	color: var(--para);
}

label, summary {
	cursor: pointer;
}
summary:focus {
	outline: none;
}

small, time {
	color: var(--caption);
}

table {
	border-collapse: collapse;
}
th {
	background: var(--bodyBg);
	font-size: 0.85rem;
	text-align: left;
}
th, td {
	border-top: var(--border1);
	border-bottom: var(--border1);
	padding: 0.75rem 1rem;
}
tr:nth-child(odd) {
	background-color: var(--cardBg);
}

.btn {
	background: #3e81b7;
	border-radius: 5px;
	color: #fff;
	font-size: 1rem;
	padding: 0.7rem 0.8rem;
}
.btn:hover {
	background: #03a9f4;
	text-decoration: none;
}

.tags a {
	background: var(--cardTitleBg);
	border: var(--border2);
	border-radius: 18px;
	color: var(--bodyColor);
	display: inline-flex;
	align-items: center;
	font-size: 14px;
	height: 36px;
	margin: 0.25rem 0;
	padding: 0.5rem 0.85rem !important;
}
.tags a:hover {
	background: var(--cardBg);
}
.tags a img {
	width: 20px;
	height: 20px;
	margin-right: 0.5rem;
}

.srcs li {
	font-size: 0.95rem;
	line-height: 1.75;
	margin-bottom: 0.5rem;
}
.srcs a[href^="https://archive."]:after,
.srcs a[href^="https://web.archive.org"]:after {
	content: " \00a0(archived)";
}

.easy-select {
	cursor: pointer;
	-webkit-user-select: all !important;
	user-select: all !important;
	word-break: break-all;
}

.grid {
	--c: 12; /* columns */
	display: flex;
	flex-flow: row wrap;
}
.grid > div, .grid > a {
	flex: 0 1 auto;
	padding: 0.75rem;
	width: calc(100% / calc(12 / var(--c)));
	max-width: 100%;
}
.grid > a {
	margin: 0.25rem !important;
	width: calc(100% / calc(12 / var(--c)) - 0.5rem);
}
.grid.xs-3 { --c: 3 }
.grid.xs-6 { --c: 6 }
@media (min-width: 600px) {
	.grid.sm-9 { --c: 9 }
}
@media (min-width: 950px) {
	.grid.md-6 { --c: 6 }
}
@media (min-width: 1250px) {
	.grid.lg-4 { --c: 4 }
}

.img {
	background: no-repeat center/100% var(--url) !important;
}
{{ range site.Data.orderCorps }}
	{{ $logo := resources.Get (printf "logos/%s.png" .k) }}

	.img.{{ .k }} {
		--url: url('data:image/png;base64,{{ $logo.Content | base64Encode }}');
	}
{{ end }}

.evtpg {
	width: 900px;
}
.evtpg > h4:after {
	content: "Sources / Relevant Material";
}
time {
	font-size: 1.1rem;
	margin: 1rem 0 0;
}
header h1 {
	display: flex;
	flex-direction: column;
	font-size: 1.75rem;
}
header:before, time:before {
	content: "";
	background: no-repeat center/100% var(--b);
	border-radius: 4px;
	display: inline-table;
	width: var(--s);
	height: var(--s);
}
@media (max-width: 599px) {
	time:before {
		--s: 48px;
		margin: 0 1rem 0;
	}
}
@media (min-width: 600px) {
	header:before {
		--s: 128px;
		margin-right: 1.5rem;
	}
}
