nav {
	padding-right: calc(2.5rem + 32px);
}
nav a, footer a {
	color: var(--navColor);
	align-items: center;
	font-size: 1rem;
}
nav, aside:before {
	background: var(--navBg);
	box-shadow: 0 4px 16px -1px rgba(0,0,0,.75);
	display: flex;
	height: var(--navHeight);
	position: sticky;
	top: 0;
	z-index: 4;
}
nav a {
	display: inline-flex;
	height: 100%;
	padding: 0 1.25rem;
}
nav a:first-child {
	margin-right: auto;
}
nav a:not(:first-child):hover {
	background: #333;
	text-decoration: none;
}
#tn {
	display: none;
}
#tn + label:before {
	content: "";
	background-color: rgba(34,34,34,0.6);
	width: 100%;
	height: 100%;
	opacity: 0;
	transition: 0.3s cubic-bezier(0.25,0.75,0.5,1);
	visibility: hidden;
	z-index: 5;
}
#tn:checked + label:before {
	opacity: 1;
	visibility: visible;
}
#tn:checked ~ aside {
	transform: translateX(0) !important;
}
#tn + label:after {
	content: "☰";
	color: #ddd;
	font-size: 32px;
	line-height: var(--navHeight);
	padding: 0 1.25rem;
	z-index: 7;
}
#tn + label:before, #tn + label:after, aside {
	position: fixed;
	right: 0;
	top: 0;
}
aside {
	background: var(--bodyBg);
	border-left: var(--border1);
	box-shadow: none;
	height: 100%;
	overflow-y: auto;
	padding-bottom: 8rem;
	scrollbar-width: none;
	transition: transform 0.35s;
	width: 400px;
	max-width: 100%;
	z-index: 6;
}
aside:before {
	content: "";
}
aside::-webkit-scrollbar {
	width: 0 !important;
}
aside > a {
	color: var(--bodyColor);
	display: flex;
	align-items: center;
	padding: 1.5rem;
}
aside > a:after {
	content: "\2794";
	color: var(--caption);
	margin-left: auto;
}
aside > a:hover {
	background: var(--bodyBg2);
	text-decoration: none;
}
aside > div {
	padding: 1rem 1.5rem;
}
aside > div:not(:last-child) {
	border-bottom: var(--border1);
	padding-bottom: 2rem;
}
aside .corpos a {
	background: var(--cardBg);
	border: var(--border1);
	color: var(--bodyColor);
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: 0.75rem;
	padding: 0.7rem 0;
}
aside .corpos a:hover {
	background: var(--cardTitleBg);
}
aside .corpos .img {
	margin: 0 auto 0.4rem;
	width: 24px !important;
	height: 24px !important;
}
aside .corpos u, .tags u {
	display: block;
	max-width: 100%;
	text-decoration: none;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
aside a[href="/tags/"] {
	background: none;
	border: none;
	color: var(--link);
	font-size: 1rem;
	justify-content: center;
}
aside .corpos:before, aside .tags:before {
	color: var(--caption);
	display: block !important;
	font-size: 1.1rem;
	margin: 0.75rem 0;
	width: 100%;
}
aside .corpos:before { content: "Corporations:" }
aside .tags:before { content: "Tags:" }
aside .tags.s:before { content: "Specific Tags:" }
@media (max-width: 699px) {
	nav > a:not(:first-child) {
		display: none;
	}
	aside .corpos {
		border-top: var(--border1);
	}
}
@media (min-width: 700px) {
	#tn ~ aside > a {
		display: none;
	}
}

footer {
	background: #0f0f0f;
	border-top: var(--border1);
	padding-bottom: 2rem;
}
footer .cntr {
	border-bottom: var(--border1);
	display: flex;
	justify-content: space-evenly;
	flex-flow: row wrap;
	padding: 2.5rem 0.5rem 1.5rem;
	margin-bottom: 2rem;
}
footer .cntr > div {
	margin: 0 1rem 2rem;
}
footer h3 {
	color: var(--navColor);
	text-decoration: underline;
}
footer a {
	display: flex;
	margin: 1rem 0 0 0.5rem;
}
footer a:hover {
	color: #888;
}
footer a > img {
	margin-right: 0.75rem;
	width: 20px !important;
	height: 20px !important;
}
footer > img:last-child {
	margin: auto;
}
