nav {
	background: var(--navBg);
	box-shadow: 0 4px 16px -1px rgba(0,0,0,.75);
	display: flex;
	justify-content: space-between;
	height: var(--navHeight);
	position: sticky;
	top: 0;
	z-index: 4;
}
nav .items {
	font-size: 0.925rem;
}
nav > a, nav .items a {
	color: var(--navColor);
	display: inline-flex;
	align-items: center;
	height: 100%;
	padding: 0 1.25rem;
}
nav a:hover {
	color: #888;
}

nav label > .icon {
	height: var(--navHeight);
	display: flex;
	align-items: center;
	padding: 0 1.25rem;
	position: fixed;
	top: 0; right: 0;
	z-index: 10;
}
nav aside {
	background: var(--navBg);
	box-shadow: none;
	z-index: 9 !important;
}
nav aside > a {
	color: var(--navColor);
	display: block;
	text-align: right;
	padding: 1.5rem;
}
