nav {
	background: var(--navBg);
	box-shadow: 0 2px 4px -1px rgba(0,0,0,.2), 0 4px 5px 0 rgba(0,0,0,.35) ,0 1px 10px 0 rgba(0,0,0,.12);
	display: flex;
	align-items: stretch;
	justify-content: space-between;
	height: var(--navHeight);
	position: sticky;
	top: 0;
	width: 100%;
	z-index: 4;
}
nav > :first-child img {
	height: 36px;
	width: auto;
}
nav > :first-child {
	font-size: 1.25rem;
}
nav .items {
	font-size: 0.925rem;
}
nav a {
	color: var(--navColor);
	display: inline-flex;
	align-items: center;
	height: 100%;
	padding: 0 1.25rem;
}
nav a:hover {
	color: #888;
}
nav label > .icon {
	height: var(--navHeight);
	display: flex;
	align-items: center;
	position: fixed;
	top: 0; right: 0;
	z-index: 10;
	padding: 0 1.25rem;
}
nav label > .icon svg {
	fill: var(--navColor);
}

nav aside {
	z-index: 9 !important;
}
nav aside > a {
	color: var(--navColor);
	display: block;
	height: auto;
	text-align: right;
	padding: 1.5rem;
}
nav aside > a:hover {
	background: var(--bodyBg2);
	color: var(--bodyColor);
}
