.timeline {
	--dividerWidth: 40px;
	--contentWidth: 100%;
}
.timeline > div {
	display: flex;
	justify-content: end;
	justify-content: flex-end !important;
	margin-top: -100px;
	padding-top: 100px;
}
.timeline > div > div {
	padding: 0.75rem;
	width: var(--contentWidth);
	max-width: var(--contentWidth);
}
.timeline > div:target .card {
	border: 1px solid var(--blockquoteColor);
	box-shadow: 0 0 12px 6px var(--blockquoteBorder);
}

/* The `u` & `a` elements are the 'divider' section which form the line of time.
 *  u:before -> the vertical line
 *  a        -> the marker / circle centered on the vertical line
 *  a:after  -> the icon within the circle */
.timeline > div > u, .timeline > div > u > a:after {
	display: flex;
	justify-content: center;
}
.timeline > div > u {
	margin: 0;
	position: relative;
	text-decoration: none;
	width: var(--dividerWidth);
}
.timeline > div > u:before {
	content: "";
	position: absolute;
	background: var(--borderColor);
	min-width: 1px; min-height: 100%;
	max-width: 1px; max-height: 100%;
}
.timeline > div > u > a, .timeline > div > u > i {
	--size: 44px;
	background: var(--cardTitleBg);
	border: var(--border2);
	margin-top: 3.25rem;
	border-radius: 50%;
	min-width: var(--size); min-height: var(--size);
	max-width: var(--size); max-height: var(--size);
	z-index: 1;
}
.timeline > div > u > a:hover {
	background: var(--cardBg);
	border-color: #aaa;
	text-decoration: none;
}
.timeline > div > u > a:after {
	content: "";
	background: no-repeat center/calc(var(--size)/2.1) url('data:image/png;base64,{{ (resources.Get "link.png").Content | base64Encode }}');
	height: calc(var(--size) - 4px);
}
.timeline .card {
	--imgSize: 80px;
}
.timeline .card > div {
	padding: 0.5rem;
}

@media (min-width: 850px) {
	:not(.condensed) > .timeline {
		--dividerWidth: 50px;
		--contentWidth: calc(50% - calc(var(--dividerWidth) / 2));
	}
	:not(.condensed) > .timeline > div:nth-child(even) {
		flex-direction: row-reverse;
		justify-content: start;
	}
}

.condensed {
	max-width: 550px;
}
.condensed > .timeline .card {
	--imgSize: 72px;
}
@media (min-width: 750px) {
	.condensed {
		margin-left: 2.5rem;
	}
}
