.timeline {
	--dividerWidth: 40px;
	--contentWidth: 100%;
}
.timeline .item {
	display: flex;
	justify-content: end;
	justify-content: flex-end !important;
	margin-top: -100px;
	padding-top: 100px;
}
.timeline .item > div {
	padding: 0.75rem;
	width: var(--contentWidth);
	max-width: var(--contentWidth);
}
.timeline .item:target .event.card {
	border: 1px solid var(--blockquoteColor);
	box-shadow: 0 0 12px 6px var(--blockquoteBorder);
}

/* The `u` & `a` elements are the 'divider' section which form the line of time.
 *  u:before -> the vertical line
 *  a        -> the marker / circle centered on the vertical line
 *  a:after  -> the icon within the circle */
.timeline .item > u, .timeline .item > u > a:after {
	display: flex;
	align-items: center;
	justify-content: center;
}
.timeline .item > u {
	margin: 0;
	position: relative;
	text-decoration: none;
	width: var(--dividerWidth);
}
.timeline .item > u > a:hover {
	text-decoration: none;
}
.timeline .item > u:before {
	content: "";
	position: absolute;
	background: var(--border1);
	min-width: 1px; min-height: 100%;
	max-width: 1px; max-height: 100%;
}
.timeline .item > u > a {
	--size: 44px;
	background: var(--cardTitleBg);
	border: 2px solid var(--border1);
	border-radius: 50%;
	min-width: var(--size); min-height: var(--size);
	max-width: var(--size); max-height: var(--size);
	z-index: 1;
}
.timeline .item > u > a:after {
	content: "\02425";
	color: var(--captionColor);
	font-size: 28px;
	max-height: calc(var(--size) + 4px);
}

@media (min-width: 850px) {
	:not(.condensed) > .timeline {
		--dividerWidth: 80px;
		--contentWidth: calc(50% - calc(var(--dividerWidth) / 2));
	}
	:not(.condensed) > .timeline .item:nth-child(even) {
		flex-direction: row-reverse;
		justify-content: start;
	}
}

.condensed {
	max-width: 650px;
}
.condensed > .timeline .event.card {
	--imgSize: 72px;
}
@media (min-width: 750px) {
	.condensed {
		margin-left: 2.5rem;
	}
}
