{{ define "style" }}
	{{ partialCached "css-inline.html" "pages/alttech.css" "alttech" }}
{{ end }}

{{ define "main" }}
	{{ $logo := .Params.logo }}
	{{ $name := .Title }}
	{{ $site := .Params.site }}
	{{ $href := printf "https://%s" $site }}

	<div class="cntr altt w900">
		<header>
			<img src="{{ $logo }}" width="128" height="128" loading="lazy">

			<div>
				<h1>{{ $name }}</h1>

				{{ with .Params.slogan }}
					<q>{{ . }}</q>
				{{ end }}

				<a href="{{ $href }}" target="_blank">{{ $site }}</a>
			</div>
		</header>

		<hr>

		<!-- A table containing basic info about the alternative platform such as which -->
		<!-- BigTech platforms it's an alternative for and data about their main policies. -->
		<table>
			<tr>
				<td><b>Similar to:</b></td>
				<td>
					{{ range .Params.altfor }}
						<a href="/{{ . }}/" class="chip {{ . }}">{{ . }}</a>
					{{ end }}
				</td>
			</tr>

			{{ with .Params.legal }}
				{{ partial "policy-table-rows.html" . }}
			{{ end }}
		</table>

		<article>{{ .Content }}</article>
	</div>
{{ end }}
