{{ define "style" }}
	{{ partialCached "css/inline" "pages/alttech.css" "alttech" }}
{{ end }}

{{ define "main" }}
	{{ $site := .Params.site }}
	{{ $href := printf "https://%s" $site }}

	<div class="cntr altt w900">
		<header>
			<img src="/img/logos/{{ .Title | anchorize }}.png" width="128" height="128" loading="lazy">

			<div>
				<h1>{{ .Title }}</h1>

				{{ with .Params.slogan }}
					<q>{{ . }}</q>
				{{ end }}

				<a href="{{ $href }}" target="_blank">{{ $site }}</a>
			</div>
		</header>

		<hr class="hide-xs">

		<p>
			<b>Similar to:</b>
			{{ range .Params.altfor }}
				{{ partialCached "bigtech-chip" . . }}
			{{ end }}
		</p>

		<article>{{ .Content }}</article>
	</div>
{{ end }}
