<div class="cntr use-alttech">
	<div class="row align-center">

		<div class="col md-6 blurb">
			<h1 class="mb-8">Use AltTech!</h1>
			<article>
				<p>
					Change starts with the content creators.
					As a content creator, using AltTech not only protects your own voice from <b><u>censorship</u></b>, but it also helps to nullify the <b><u>propaganda</u></b> that inevitably follows.
					<a href="/creators/">Read here</a> for more on why and how to go about trying AltTech.
				</p>
			</article>
		</div>

		<div class="col md-6">
			<div class="altfor-map">
				{{ $launch := partial "icon" (dict "name" "launch" "size" 14) }}

				{{ range $i, $v := slice "Twitter" "Patreon" "YouTube" "Facebook" }}
					{{ $k := $v | anchorize }}

					<div>
						<input type="radio" name="platform" id="{{ $k }}"{{ if eq $i 0 }}checked{{ end }}>

						<label for="{{ $k }}">
							<img src="/img/logos/{{ $k }}.png" width="24" height="24" loading="lazy">
							<div>{{ $v }}</div>
						</label>

						<div class="alts">
							{{ range index site.Taxonomies.altfor $k }}
								<a href="{{ .RelPermalink }}">
									<img src="/img/logos/{{ .Name | anchorize }}.png" width="24" height="24" loading="lazy">
									{{ .Name }} {{ $launch }}
								</a>
							{{ end }}
						</div>
					</div>
				{{ end }}
			</div>
		</div>

	</div>
</div>
