{{ define "style" }}
<style>
aside:empty {
	display: none;
}
main {
	justify-content: center;
}
summary {
	margin-bottom: 1rem;
}
</style>
{{ end }}

{{ define "main" }}
	{{ $slug := .Title | anchorize }}
	{{ $img := $slug | printf "/img/logos/%s.png" }}

	<input id="sbToggle" type="checkbox">
	<label for="sbToggle"></label>

	<main>
		<section>
			<header>
				<img src="{{ $img }}" width="64" height="64" loading="lazy">
				<h1>{{ .Title | title }}</h1>
			</header>

			{{ with (index .Site.Taxonomies.altfor $slug) }}
				<details open>
					<summary>Some Alternatives:</summary>
					<div class="grid sm-6 md-4">
						{{ range . }}
							<div>{{ partialCached "cards/alttech" . .RelPermalink }}</div>
						{{ end }}
					</div>
				</details>
				{{ if ne "" $.Content }}<hr>{{ end }}
			{{ end }}

			{{ with .Content }}
				<article>{{ . }}</article>
			{{ end }}

			<h2 data-count="{{ len .Pages }}">Events</h2>
			<hr>
			{{ partial "timeline" .Pages }}
		</section>

		{{ partialCached "sidebar" . }}
	</main>
{{ end }}
