.card {
	--radius: 4px;
	--imgSize: 48px;
	background: var(--cardBg);
	border: var(--border1);
	border-radius: var(--radius);
	color: var(--bodyColor);
	display: block;
	position: relative;
	max-width: 100%;
	width: 100%;
	height: 100%;
	transition: border .4s cubic-bezier(.4,0,.6,1);
}
.card:after, .chip:after {
	content: "";
	background: var(--cardBefore);
	border-radius: var(--radius);
	opacity: 0;
	transition: opacity .2s cubic-bezier(.4,0,.6,1);
	position: absolute;
	top: 0; right: 0; bottom: 0; left: 0;
}

a.card:hover {
	border-color: #aaa;
	text-decoration: none;
}
a.card:hover:after, .chip:hover:after {
	opacity: 0.15;
}

/* The first element of any card is its header / title area. */
.card > header:first-child, .card > div:first-child {
	background: var(--cardTitleBg);
	border-bottom: var(--border1);
	border-radius: var(--radius) var(--radius) 0 0;
	padding: 0.75rem;
}
.card > :first-child img {
	min-width: var(--imgSize); min-height: var(--imgSize);
	max-width: var(--imgSize); max-height: var(--imgSize);
	margin-right: 1rem;
}
.card > :first-child h2 {
	font-size: 1.25rem;
	margin: 0;
}

.card > :last-child:not(span) {
	line-height: 1.75;
	margin: 0;
	padding: 0.75rem;
}

.event.card {
	--imgSize: 80px;
}
.event.card header {
	padding: 0.5rem;
}
.event.card h2:before {
	content: attr(data-t);
	color: var(--articleBold);
	display: -webkit-box;
	font-size: 1.1rem;
	line-height: 1.4;
	margin-bottom: 0.5rem;
	overflow: hidden;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2
}
.event.card h2 {
	color: var(--caption);
}
.event.card h2, .event.card p {
	font-size: 0.9rem;
}

.profile.card {
	border-radius: var(--radius) var(--radius) 0 0;
}
.profile.card header:after {
	content: "\2794";
	color: var(--caption);
	font-size: 1.5rem;
	position: absolute;
	top: 0.5rem;
	right: 0.75rem;
}
.profile.card > p {
	font-size: 85%;
}
.profile.card + div {
	background: var(--cardTitleBg);
	border: var(--border1);
	border-top: 1px solid transparent;
	border-radius: 0 0 4px 4px;
	padding: 0.25rem;
	display: flex;
	flex-flow: row wrap;
	align-items: center;
}
.profile.card + div a {
	padding: 0.5rem;
	border-radius: 50%;
}
.profile.card + div a:hover {
	background: var(--shadowColor);
}
.profile.card + div a img {
	width: 24px !important;
	height: 24px !important;
}

.tag.card {
	display: flex;
	align-items: center;
	font-size: 0.9rem;
}
.tag.card > :first-child {
	background: var(--cardTitleBg);
	border-right: var(--border1);
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	margin-right: 1rem;
	padding: 0.6rem;
	width: 40px !important;
	height: 40px !important;
}
.tag.card > u {
	color: var(--caption);
	position: absolute;
	right: 0;
	text-decoration: none;
}
.tag.card div[data-count] {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 0.75rem 0 0;
	width: 100%;
}
.tag.card div[data-count]:after {
	--h: 21px;
	--fs: 15px;
	background: var(--bodyBg);
	color: var(--articleBold);
	margin: 0;
}
