:root {
	--navHeight: 64px;

	--bodyBg: #222;
	--bodyBg2: #2b2b2b;
	--bodyColor: #f8f8f8;

	--navBg: #111;
	--navColor: #eee;

	--borderColor: #777;
	--border1: 1px solid var(--borderColor);
	--border2: 2px solid var(--borderColor);

	--para: #d3d3d3;
	--link: #29B6F6;
	--caption: #8f8f8f;
	--shadowColor: rgba(0,0,0,.5);

	--cardBg: #333;
	--cardBefore: #000;
	--cardTitleBg: #444;

	--blockquoteBorder: #666;
	--blockquoteColor: #8f8f8f;
	--articleHeadings: #fafafa;
	--articleBold: #fff;

	--jtronBg: linear-gradient(#222, #444);
}

@media (prefers-color-scheme: light) {
	:root {
		--bodyBg: #f6f6f6;
		--bodyBg2: #f0f0f0;
		--bodyColor: #444;

		--navBg: #222;
		--borderColor: #ccc;

		--para: #666;
		--link: #03A9F4;
		--caption: #a7a7a7;
		--shadowColor: rgba(100,100,100,.25);

		--cardBg: #fff;
		--cardBefore: #aaa;
		--cardTitleBg: #f2f2f2;

		--blockquoteBorder: #ccc;
		--blockquoteColor: #8e8e8e;
		--articleHeadings: #222;
		--articleBold: #555;

		--jtronBg: linear-gradient(#ccc, #fff);
	}
}
