input[id^="toggle"] {
	display: none;
}
input[id^="toggle"] ~ label {
	cursor: pointer;
}
input[id^="toggle"]:checked ~ aside {
	transform: translateX(0);
}
input[id^="toggle"]:checked ~ label .overlay {
	visibility: visible;
	opacity: 1;
	z-index: 5;
}

aside {
	background: var(--bodyBg);
	border-left: 1px solid var(--border1);
	box-shadow: 0 0 transparent, -15px 0 20px 0 var(--shadowColor);

	position: fixed;
	top: var(--navHeight);
	right: 0;
	z-index: 2 !important;

	--width: 450px;
	width: var(--width);
	max-width: 100%;

	max-height: 100%;
	height: 100%;
	overflow-y: auto;
	overflow-x: hidden;

	transition: transform 0.35s;
	transform: translateX(110%);
}

aside > .content {
	max-height: calc(100vh - var(--navHeight));
	position: -webkit-sticky !important;
	position: sticky !important;
	overflow-y: auto;
	scrollbar-width: none;
}

aside > .content > section > :last-child { margin-bottom: 7rem }
aside > .content::-webkit-scrollbar { width: 0 !important }

@media (min-width: 1250px) {
	aside {
		position: absolute;
		transform: translateX(0);
		top: 0;
		right: 0;
		z-index: 3;
		overflow: visible;
	}

	aside > .content {
		top: var(--navHeight);
	}

	.aside-prev-sibling {
		padding-right: 450px;
	}
}
