footer {
	background: var(--navBg);
	border-top: var(--border1);
	color: #fff;
	padding-bottom: 2rem;
}
footer .cntr {
	border-bottom: var(--border1);
	display: flex;
	justify-content: space-evenly;
	flex-flow: row wrap;
	padding: 2.5rem 0.5rem 1.5rem;
	margin-bottom: 2rem;
}
footer .cntr > div {
	margin: 0 1rem 2rem;
}
footer h3 {
	margin-bottom: 1.5rem;
}
footer a {
	color: var(--navColor);
	display: flex;
	align-items: center;
	margin: 1rem 0 0 0.5rem;
}
footer a:hover {
	color: #888;
}
footer a > img {
	margin-right: 0.75rem;
}
footer [src$="bigtechfail-long.png"] {
	margin: auto;
}
