* { box-sizing: border-box }

body {
	background: var(--bodyBg);
	color: var(--bodyColor);
	font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,Roboto,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji !important;
	font-size: 105%;
	margin: 0;
	word-spacing: 0.075rem;
}

a {
	color: var(--linkColor);
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
a.open:after {
	--size: 16px;
	content: "";
	background: no-repeat center/100% url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAMAAACdt4HsAAAAS1BMVEUAAACIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIjZ97pJAAAAGHRSTlMATkgLw1lkGe9eB9q29DsbZ9eb0JhplzJQwk9MAAABEklEQVRYw+2WwXLDIAwFBcQ2IbZxnKTV/39pKRdNUuTn0a2J98rsohkdgA4+heAaBNrPmRu4zwoEL3RRAhbCiSVg9/VAmrsG/sWPWiCvE7e4PfunTgn4yE0uw7MffDvgeadP7UCOe30lsNbz8dG/8MdXAmniwkIK4muBud6PfTXg6gDQBwGPfFtAfBwAPg4AHwegP9w8UTgXghIA/oU7EvSA7oPAtp+LjwO6Tz3DgOLbAuLbAuLbAkl8WyBcxTcFaLhW3xCQgvjGNSayBYQj8C8DPW3yUALgaRNGLnxTmxThCAsXpkQKd64zLF6hH/mXL9IYIu8gZlJxwMW/QwdniGDPw33a0qc1EyLNTmVOdPC2/AC2/EpIkXOfVAAAAABJRU5ErkJggg==');
	display: inline-block;
	margin-left: 0.2rem;
	width: var(--size);
	height: var(--size);
}

h1, h2, h3 {
	font-weight: normal;
}

header {
	display: flex;
	align-items: center;
}
header img {
	margin-right: 2rem
}
header h1 {
	margin: 0
}

hr {
	border: 0;
	border-top: thin solid var(--border1);
	margin: 1.5rem 0;
	max-height: 0px;
}

img {
	border-radius: 4px;
	display: table;
	max-width: 100% !important;
}

p, li, span {
	color: var(--paraColor);
}

table {
	border-collapse: collapse;
}
th {
	background: var(--bodyBg);
	text-align: left;
}
table, th, td {
	border-top: 1px solid var(--border1);
	border-bottom: 1px solid var(--border1);
}
th, td {
	padding: 0.75rem 1.25rem;
}
th *, td * {
	display: inline-block;
}
tr:nth-child(odd) {
	background-color: var(--cardBg);
}
table a {
	color: var(--bodyColor);
}

.overlay {
	background-color: rgba(34,34,34,0.6);
	visibility: hidden;
	opacity: 0;
	transition: 0.3s cubic-bezier(0.25,0.75,0.5,1);

	position: fixed;
	left: 0;
	top: 0;
	z-index: -1;

	width: 100%;
	height: 100%;
}

h1[data-count] {
	--h: 25px;
	margin: 0;
}
h3[data-count] {
	--h: 22px;
}
[data-count]:after {
	content: attr(data-count) " ";
	background: var(--cardTitleBg);
	border: 1px solid var(--border3);
	border-radius: var(--h);
	display: inline-block;
	font-size: calc(var(--h) / 1.5);
	font-weight: bold;
	margin: 0 0 calc(var(--h) / 4) calc(var(--h) / 2);
	padding: calc(var(--h) / 7.5) 0.75rem calc(var(--h) / 5.25);
	vertical-align: middle;
}

.title { font-size: 1.3rem }
.caption {
	font-size: 0.9rem;
	color: var(--captionColor);
}

.chip {
	--c: #607D8B;
	--height: 23px;
	background: var(--c);
	color: #fff;
	height: var(--height);
	border: 1px solid transparent;
	border-radius: var(--height);
	display: inline-flex;
	align-items: center;
	font-size: 0.75rem;
	margin: 0.2rem;
	padding: 0 12px;
	position: relative;
}
.chip:hover {
	text-decoration: none;
	border: 1px solid #fff;
}
.chip:after {
	content: "";
	border-radius: var(--height);
	position: absolute;
	top: 0; right: 0; bottom: 0; left: 0;
}
.chip:hover:after {
	background: rgba(0,0,0,0.15);
}
.chip.amazon {    --c: #ff9800 }
.chip.apple {     --c: #f48fb1 }
.chip.facebook {  --c: #3f51b5 }
.chip.google {    --c: #448Aff }
.chip.instagram { --c: #e040fb }
.chip.patreon {   --c: #ff8a80 }
.chip.pinterest { --c: #c62828 }
.chip.reddit {    --c: #ff5722 }
.chip.spotify {   --c: #4caf50 }
.chip.twitter {   --c: #03a9f4 }
.chip.youtube {   --c: #e53935 }

.mb-8 { margin-bottom: 2rem !important }
