.cntr, main {
	width: 1200px;
	margin: auto;
	padding: 1.5rem;
	max-width: 100% !important;
}
@media (max-width: 500px) {
	.cntr, main {
		padding: 1rem;
	}
}
.cntr.w900 {
	width: 900px;
}

.row, .grid, #sbToggle ~ main {
	display: flex;
	flex-flow: row wrap;
}
.col, .grid {
	--c: 12 /* columns */
}
.col, .grid > div, section, aside {
	flex: 0 1 auto;
	padding: 0.75rem;
	width: calc(100% / calc(12 / var(--c)));
	max-width: 100%;
}
.grid.xs-3 { --c: 3 }
@media (max-width: 599px) {
	.col, .grid > div {
		padding: 0.75rem 0.25rem;
	}
}
@media (min-width: 600px) {
	.grid.sm-6 { --c: 6 }
}
@media (min-width: 950px) {
	.grid.md-4 { --c: 4 }
	.col.md-6, .grid.md-6 { --c: 6 }
}
@media (min-width: 1250px) {
	.grid.lg-6 { --c: 6 }
	.grid.lg-4 { --c: 4 }
}

.align-center { align-items: center !important }
