.cntr {
	width: 1200px;
	margin: auto;
	padding: 1.5rem;
	max-width: 100% !important;
}
@media (max-width: 500px) {
	.cntr {
		padding: 1rem;
	}
}
.cntr.w900 {
	width: 900px;
}

.row, .grid {
	display: flex;
	flex-flow: row wrap;
}
.col, .grid {
	--c: 12 /* columns */
}
.col, .grid > div {
	flex: 0 1 auto;
	padding: 0.75rem;
	width: calc(100% / calc(12 / var(--c)));
}
.col.xs-6, .grid.xs-6 { --c: 6 }
@media (max-width: 599px) {
	.col, .grid > div {
		padding: 0.75rem 0.25rem;
	}
	.hide-xs { display: none !important }
}
@media (min-width: 600px) {
	.grid.sm-6 { --c: 6 }

	.hide-sm-and-up { display: none !important }
}
@media (max-width: 949px) {
	.hide-sm-and-down { display: none !important }
}
@media (min-width: 950px) {
	.col.md-5 { --c: 5 }
	.col.md-6, .grid.md-6 { --c: 6 }
	.col.md-7 { --c: 7 }
	.grid.md-12 { --c: 12 }

	.hide-md-and-up { display: none !important }
}
@media (max-width: 1249px) {
	.hide-md-and-down { display: none !important }
}
@media (min-width: 1250px) {
	.col.lg-4, .grid.lg-4 { --c: 4 }
	.col.lg-6 { --c: 6 }
	.col.lg-8 { --c: 8 }
}

.align-center { align-items: center !important }
