nav {
	background: var(--navBg);
	box-shadow: 0 4px 16px -1px rgba(0,0,0,.75);
	display: flex;
	justify-content: space-between;
	height: var(--navHeight);
	position: sticky;
	top: 0;
	z-index: 4;
}
nav a {
	color: var(--navColor);
	display: inline-flex;
	align-items: center;
	font-size: 0.925rem;
	height: 100%;
	padding: 0 1.25rem;
}
nav a:hover {
	color: #888;
}
[for="toggleNav"] i {
	padding: 0 1.25rem;
	position: fixed;
	top: 0; right: 0;
	z-index: 10;
}
[for="toggleNav"] i:after {
	content: "☰";
	color: #ddd;
	font-style: normal;
	font-size: 36px;
	line-height: var(--navHeight);
}

aside[data-nav] {
	--asideW: 325px;
	background: var(--navBg);
	border-left: none;
	box-shadow: none;
	position: fixed;
	top: 0;
	z-index: 9 !important;
}
aside[data-nav] > a {
	color: var(--navColor);
	display: block;
	text-align: right;
	padding: 1.5rem;
}
