nav, nav ~ aside:before {
	background: var(--navBg);
	box-shadow: 0 4px 16px -1px rgba(0,0,0,.75);
	display: flex;
	height: var(--navHeight);
	position: sticky;
	top: 0;
	z-index: 4;
}
nav a {
	color: var(--navColor);
	display: inline-flex;
	align-items: center;
	font-size: 0.925rem;
	height: 100%;
	padding: 0 1.25rem;
}
nav a:first-child {
	margin-right: auto;
}
nav a:hover {
	color: #888;
}
nav ~ label:after {
	content: "☰";
	color: #ddd;
	font-size: 36px;
	line-height: var(--navHeight);
	padding: 0 1.25rem;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 10;
}
nav ~ aside {
	--asideW: 325px;
	background: var(--navBg);
	border-left: none;
	box-shadow: none;
	top: 0;
	z-index: 9 !important;
}
nav ~ aside:before {
	content: "";
}
nav ~ aside > a {
	color: var(--navColor);
	display: block;
	text-align: right;
	padding: 1.5rem;
}
@media (max-width: 599px) {
	nav > a:not(:first-child) {
		display: none;
	}
}
@media (min-width: 600px) {
	nav ~ label, nav ~ aside {
		display: none;
	}
}
