{{ define "style" }}
<style>
@media (max-width: 385px) {
	.alttrs > a {
		display: flex;
	}
}
</style>
{{ end }}

{{ define "main" }}
	<div class="cntr">
		<h1>{{ .Title }}</h1>
		<hr>

		<div class="alttrs tags">
			<h3>By Category / Feature:</h3>
			{{ range site.Taxonomies.alttrs.ByCount }}
				{{ partialCached "tags/alttr" .Page .Page }}
			{{ end }}
		</div>
		<hr>

		<div class="grid md-6 lg-4">
			{{ range .Pages }}
				<div>
					{{ partialCached "cards/alt" . .RelPermalink }}
				</div>
			{{ end }}
		</div>
	</div>
{{ end }}
