{{ define "style" }}
<style>
main h1 {
	margin-bottom: 0.75rem;
}
</style>
{{ end }}

{{ define "main" }}
	<main class="w900">
		<div>
			<img src="/logos/{{ .Title | anchorize }}.png" width="96" height="96" loading="lazy">

			<div>
				<h1>{{ .Title }}</h1>
				{{ with .Params.site }}<a href="https://{{ . }}" target="_blank">{{ . }}</a>{{ end }}
			</div>
		</div>

		<div class="tags">
			{{ range .Params.alttrs }}
				{{ partialCached "tags/alttr" . . }}
			{{ end }}
		</div>
		<hr>

		<article>{{ .Content }}</article>
	</main>
{{ end }}
