<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<!-- This is the CSS that's included on every single page. -->
		{{ partialCached "css" . }}

		<!-- This allows a page to include CSS that's not global. -->
		{{ block "style" . }} {{ end }}

		<link rel="icon" href="/favicon.png">
		<link rel="icon" type="image/png" sizes="96x96" href="/favicon-96.png">
		<link rel="icon" type="image/png" sizes="192x192" href="/favicon-192.png">
		<link rel="apple-touch-icon" sizes="180x180" href="/favicon-180.png">

		<meta property="og:image" content="{{ block `ogimg` . }}http://bigtech.fail/img/social-media-share.png{{ end }}">
		<meta property="og:description" content="{{ block `ogdesc` . }}The censorship, propaganda, and mass surveillance from today's technology corporations and governments.{{ end }}">
		<meta name="twitter:card" content="summary_large_image">

		<title>{{ block "title" . }} {{ with .Title }} {{ . }} | {{ end }} {{ end }} {{ .Site.Title }}</title>
	</head>

	<body>
		{{ partialCached "nav" . .IsHome }}

		{{ block "main" . }} {{ end }}

		{{ partialCached "footer" . }}
	</body>
</html>
