<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<!-- This is the CSS that's included on every single page. -->
		{{ partialCached "css-global.html" . }}

		<!-- This allows a page to include CSS that's not global. -->
		{{ block "style" . }} {{ end }}

		<link rel="shortcut icon" href="/img/bigtechfail-short-96.png">

		<title>{{ .Site.Title }} {{ block "title" . }} {{ with .Title }} | {{ . }} {{ end }} {{ end }}</title>
	</head>

	<body>
		{{ partialCached "navbar.html" . .IsHome }}

		<main>
			{{ block "main" . }} {{ end }}
		</main>

		{{ partialCached "footer.html" . }}
	</body>
</html>
