<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<!-- This is the CSS that's included on every single page. -->
		{{ partialCached "css/global" . }}

		<!-- This allows a page to include CSS that's not global. -->
		{{ block "style" . }} {{ end }}

		<link rel="shortcut icon" href="/img/bigtechfail-short-96.png">

		<meta property="og:image" content="http://bigtech.fail/img/social-media-share.png">
		<meta property="og:description" content="{{ block `ogdesc` . }}The censorship, propaganda, and mass surveillance from today's technology corporations and governments.{{ end }}">
		<meta name="twitter:card" content="summary_large_image">

		<title>{{ .Site.Title }} {{ block "title" . }} {{ with .Title }} | {{ . }} {{ end }} {{ end }}</title>
	</head>

	<body>
		{{ partialCached "navbar.html" . .IsHome }}

		{{ block "main" . }} {{ end }}

		{{ partialCached "footer.html" . }}
	</body>
</html>
