main.event {
	max-width: 900px;
	margin: auto;
}
main.event > header {
	border-bottom: var(--border1);
	padding-bottom: 1.75rem;
	margin-bottom: 2.5rem;
}
main.event > header u {
	color: var(--caption);
	display: block;
	margin-top: 1rem;
	text-decoration: none;
}
main.event > article {
	border-bottom: var(--border1);
	margin-bottom: 1.5rem;
}
@media (max-width: 450px) {
	main.event > header {
		flex-direction: column;
		text-align: center;
	}
	main.event > header h1 {
		margin-top: 2rem;
	}
}

.sources li {
	font-size: 0.95rem;
	margin-bottom: 0.5rem;
	line-height: 1.75;
}

#toggleProfiles + label:after {
	background: no-repeat center/100% url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAFgAAABYAQMAAABLW6J3AAAABlBMVEUAAAD///+l2Z/dAAAAAXRSTlMAQObYZgAAAKlJREFUOMvdkDEKwzAUQx06ePQRfJP6YoUEOvRagV7EvYFHDyGqrEA/NLRTMiQCWW8w3192J9aNvi54weA6jOKA7DyKODIDqjgxIyZxz0yYVwxmD3xzByY97M1/drA9rcuqo3XXn9DZSXMb4PaSzbd9PvsnQOu0fvRI9i3prOtAYceqWkwek+oyI1QYYAYe+iqKA9Su6aGhC9/FXvzUA0H8ossPrpvxAfUGmls1d6OdE4kAAAAASUVORK5CYII=');
}
.profiles.content > header:before {
	background: no-repeat center/100% url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAMAAACdt4HsAAAAY1BMVEUAAACgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKAwX8KIAAAAIHRSTlMABbb88Av3aBouD33i08RK6b8myXJhUdmsRIU3oJ9auW9yIiwAAAFESURBVFjD7dVbbsMgEIXhIQwYzMX3W9Kk3v8q24dWcu1Jwziq1Ej+F/AheDjA/GQHcAB/D0iNIaCWOwHduIsAEBfX6D3AcDPwlbkNfCDWsKiOXKAy8CNT8QBvYZX1HEA62OQkA/BmCxjPAK5AdGUABQUUDMBQgEkHSkUBqkwGMKeAHNOvUFNAzXiDjAIyBhApIDIAnGDThAxgHhWsUuPMAXS3BjrNAmbsBSwSPXIHBdvFLVSL/EnTsRffx0e9a5VlOBfWFucgn/gXpHztn2nW5RBKvQeQ6Ktzb3P1WV4X7uRRMoBydNNqEtTkRp8IDK2lB6XOGvkQ0E2n4G6ieMffgaZbHE4TJ3kfQJfDw1RX3gPiBZKyFQ1UBhIzFQWgheQsEsCbSgfUGwG0wKjdAjLjAJn8l4BgRABzODEKLzNpB3AAiX0ALfSCW2e8siQAAAAASUVORK5CYII=');
}
.profiles.content > section > * {
	margin: 1rem;
}
