.platform.cntr > header > h1 {
	font-size: 3rem;
}
.platform.cntr .content > div h3 {
	padding-left: 0.25rem;
}
.no-writeup {
	margin: 2rem 0;
}
:not(.no-writeup) > .alts > div {
	padding: 0 !important;
	margin-bottom: 1.5rem;
}
@media (min-width: 1250px) {
	.platform.cntr article {
		padding-right: 3rem !important;
	}
	.alts-wrap {
		position: sticky;
		top: calc(var(--navHeight) + 1rem);
	}
}
