.altt.cntr > header {
	margin-bottom: 2rem;
}
.altt.cntr > header > div {
	font-size: 0.9rem;
}
.altt.cntr > header h1 {
	margin-bottom: 0.75rem;
}
.altt.cntr > header a {
	font-style: italic;
	margin-left: 0.5rem;
}
table {
	margin-bottom: 3rem;
}
@media (max-width: 599px) {
	table {
		width: 100%;
	}
}
