.jtron {
	background: var(--jtronBg);
	border-bottom: 1px solid var(--border1);
}
.jtron > .cntr {
	padding: 5.5rem 1.25rem;
}
.jtron hr {
	margin: 2rem auto;
}
.jtron .blurb {
	margin-bottom: 1rem !important;
	margin-left: auto;
	max-width: 475px;
}
.jtron .blurb > p {
	text-align: right;
}
.jtron .blurb.mobile {
	display: none;
	line-height: 1.75;
}
.jtron .links {
	max-width: 710px;
	margin: 0 auto 2rem;
	text-align: center;
}
.jtron .links a {
	border: 2px solid var(--border1);
	border-radius: 7px;
	display: inline-flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: 0.9rem;
	margin: 0.38rem 0.25rem;
	width: 108px;
	height: 108px;
}
.jtron .links a:hover {
	border: 2px solid var(--border3);
}
.jtron .links a img {
	margin-bottom: 0.75rem;
}
@media (max-width: 950px) {
	.jtron .blurb:not(.mobile) { display: none }
	.jtron .blurb.mobile { display: flex }
}
@media (min-width: 951px) {
	.jtron hr {
		transform: rotate(-40deg);
		margin-bottom: -1rem !important;
		margin-top: 3rem !important;
		width: 25%;
	}
}
@media (prefers-color-scheme: light) {
	.jtron hr {
		border-top: thin solid #888;
	}
}

@media (max-width: 949px) {
	.use-alttech > .row {
		max-width: 600px;
		margin: auto;
	}
	.use-alttech > .row > .col:first-child {
		text-align: center;
	}
}
.use-alttech > .row > .col:nth-child(2) {
	display: flex;
	justify-content: center;
}
.altfor-map {
	--border: 1px solid var(--border1);
	position: relative;
	max-width: 100%;
	overflow: hidden;
}
.altfor-map > div {
	width: 400px;
}
.altfor-map img {
	margin-right: 0.75rem;
}
.altfor-map label {
	display: inline-flex;
	width: 160px;
}
.altfor-map label, .altfor-map .alts a {
	align-items: center;
	padding: 0.75rem 2.25rem 0.75rem 1.25rem;
}
.altfor-map input:checked ~ label, .altfor-map .alts {
	background: linear-gradient(to right, var(--bodyBg), var(--cardBg));
	border-top: var(--border);
	border-bottom: var(--border);
}
.altfor-map .alts {
	background: linear-gradient(to left, var(--bodyBg), var(--cardBg));
	display: inline-flex;
	flex-direction: column;
	justify-content: center;
	position: absolute;
	top: 0;
	height: 100%;
	width: 240px;
}
.altfor-map .alts a {
	color: var(--bodyColor);
	display: flex;
}
.altfor-map .alts svg {
	margin: -0.7rem 0 0 0.4rem;
	fill: var(--captionColor);
}
.altfor-map input, .altfor-map input:not(:checked) ~ .alts {
	display: none;
}
.altfor-map input:not(:checked) ~ label {
	border-right: var(--border);
	color: var(--captionColor);
}

.recent-events {
	border-top: 1px solid var(--border1);
	padding: 3rem 0;
}
.recent-events h1 {
	text-align: center;
}
.recent-events a[href="/events/"] {
	display: table;
	margin: 1rem auto;
}
