.jtron {
	background: var(--jtronBg);
	border-bottom: 1px solid var(--border1);
}
.jtron > .cntr {
	padding: 5.5rem 1.25rem;
}
.jtron hr {
	margin: 2rem auto;
}
.jtron .blurb {
	margin-bottom: 1rem !important;
	margin-left: auto;
	max-width: 475px;
}
.jtron .blurb > p {
	text-align: right;
}
.jtron .blurb.mobile {
	display: none;
	line-height: 1.75;
}
.jtron .links {
	padding-bottom: 2rem;
	text-align: center;
	max-width: 710px;
	margin: auto;
}
.jtron .links a {
	background: var(--cardBg);
	border: 2px solid var(--border1);
	border-radius: 7px;
	color: var(--captionColor);
	display: inline-flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	font-size: 0.9rem;
	margin: 0.38rem 0.25rem;
	position: relative;
	width: 108px;
	height: 108px;
	transition: border .2s cubic-bezier(.4,0,.6,1);
}
.jtron .links a:hover {
	border: 2px solid var(--border3);
}
.jtron .links a img {
	margin-bottom: 0.75rem;
}
@media (max-width: 950px) {
	.jtron .blurb:not(.mobile) { display: none }
	.jtron .blurb.mobile { display: flex }
}
@media (min-width: 951px) {
	.jtron hr {
		transform: rotate(-40deg);
		margin-bottom: -1rem !important;
		margin-top: 3rem !important;
		width: 25%;
	}
}
@media (prefers-color-scheme: light) {
	.jtron hr {
		border-top: thin solid #888;
	}
}

#usealttech img[src$="laptop.png"] {
	min-width: 88px; min-height: 88px;
	max-width: 88px; max-height: 88px;
	position: absolute;
}

.alttech-circle-wrap {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
}
.alttech-circle {
	position: relative;
	--size: 400px;
	max-width: var(--size);
	width: var(--size);
	max-height: var(--size);
	height: var(--size);
	padding-top: var(--size);
}
.alttech-circle > div {
	--r: 7rem;
	position: absolute;
	left: calc(
		50% -
		var(--r) *
		calc(
			1 -
			calc(calc(var(--x) * var(--x)) / 2) +
			calc(calc(var(--x) * var(--x) * var(--x) * var(--x)) / 24) -
			calc(calc(var(--x) * var(--x) * var(--x) * var(--x) * var(--x) * var(--x)) / 720) +
			calc(calc(var(--x) * var(--x) * var(--x) * var(--x) * var(--x) * var(--x) * var(--x) * var(--x)) / 40320) -
			calc(calc(var(--x) * var(--x) * var(--x) * var(--x) * var(--x) * var(--x) * var(--x) * var(--x) * var(--x) * var(--x)) / 3628800)
		) - 28px
	);
	top: calc(
		50% -
		var(--r) *
		calc(
			var(--x) -
			calc(calc(var(--x) * var(--x) * var(--x)) / 6) +
			calc(calc(var(--x) * var(--x) * var(--x) * var(--x) * var(--x)) / 120) -
			calc(calc(var(--x) * var(--x) * var(--x) * var(--x) * var(--x) * var(--x) * var(--x)) / 5040) +
			calc(calc(var(--x) * var(--x) * var(--x) * var(--x) * var(--x) * var(--x) * var(--x) * var(--x) * var(--x) ) / 362880) -
			calc(calc(var(--x) * var(--x) * var(--x) * var(--x) * var(--x) * var(--x) * var(--x) * var(--x) * var(--x) * var(--x) * var(--x) ) / 39916800)
		) - 28px
	);
}
.alttech-circle > div > img {
	--size: 50px;
	max-width: var(--size);
	max-height: var(--size);
}

.recent-events {
	border-top: 1px solid var(--border1);
	padding: 3rem 0;
}
.recent-events h1 {
	text-align: center;
}
.recent-events a[href="/events/"] {
	display: table;
	margin: 1rem auto;
}
