.platform.cntr {
	width: 1300px;
}
.platform.cntr > header > h1 {
	font-size: 3rem;
}
.platform.cntr > header + hr {
	margin-bottom: 0;
}

.platform.cntr .content section h3 {
	padding-left: 0.25rem;
	margin-top: 3rem;
}
.platform.cntr .content section table {
	width: 100%;
	margin-top: 1.5rem;
}

@media (min-width: 950px) {
	.alts > div {
		margin-bottom: 1.5rem !important;
		padding: 0 !important;
	}
}

@media (min-width: 1250px) {
	.platform.cntr article {
		padding-right: 3rem !important;
	}
}

.banned { color: #f44336 }
.suspended, .content-removed { color: #ff9800 }
.walked-away { color: #43a047 }

.events-heading { padding: 1rem 0 0 1rem }
.events-heading b { font-size: 1.25rem }

tr > td:first-child {
	font-weight: bold;
}
