.prof.cntr {
	padding: 1.5rem;
}
.prof.cntr header img {
	margin-right: 1rem;
}
.prof.cntr header h1 {
	margin: 0;
}
.prof.cntr header p {
	font-size: 0.9rem;
}
.prof.cntr section {
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	margin-bottom: 3rem;
}
.prof.cntr section a {
	margin: 0.5rem 1.5rem 0.5rem 0;
}
.prof.cntr section a > .icon > svg {
	width: 34px !important;
	height: 34px !important;
}
.prof.cntr section a > img {
	width: 32px !important;
	height: 32px !important;
}
