{{ $toggleIcon := partialCached "icon.html" "people" "people" }}
{{ $headerIcon := partialCached "icon.html" (dict "name" "account_box" "size" 40) "event-profiles-header" }}

<input type="checkbox" class="toggle" id="profileDrawerToggle">

<label for="profileDrawerToggle">
	{{ $toggleIcon }}
	<div class="overlay"></div>
</label>

<aside>
	<div class="profile-drawer-content">
		<header>{{ $headerIcon }} Profiles Involved</header>

		<section>
			{{ range $ }}
				{{ $path := printf "/profiles/%s" . }}

				{{ with site.GetPage $path }}
					<div>
						{{ partialCached "cards/profile.html" . . }}
					</div>
				{{ end }}
			{{ end }}
		</section>
	</div>
</aside>
