{{ define "main" }}
	<main>
		<div>
			<img src="{{ .Params.image }}" width="72" height="72" loading="lazy">
			<h1>{{ .LinkTitle | default (.Data.Term | title) }}</h1>
		</div>
		<hr>

		<article>
			{{ .Content }}

			{{ with .Params.sources }}
				<details>
					<summary>Sources / Relevant Material</summary>
					{{ partial "sources" . }}
				</details>
			{{ end }}

			{{ with .Params.quotes }}
				<details>
					<summary>Some Quotes</summary>
					{{ range . }}
						<blockquote>
							{{ range split .q "\n" }}<p>{{ . }}</p>{{ end }}
							<p>– {{ .person }}, <a href="{{ .src }}">{{ .date }}</a></p>
						</blockquote>
					{{ end }}
				</details>
			{{ end }}
		</article>
		<br>

		{{ with .Pages }}
			{{ with partial "events-filtered" . }}
				<h2>Events<b>{{ len . }}</b></h2>
				{{ partial "events" . }}
			{{ end }}
		{{ else }}
			{{ warnf "no events for tag '%s'" .Data.Term }}
		{{ end }}
	</main>
{{ end }}
