{{ define "main" }}
	{{ $events := partial "events-filtered" .Pages }}

	<main>
		<h1>{{ .Title }}</h1>
		<article>
			<p>
				The main purpose of an Event in this context is to provide evidence
				that something happened on a certain date. In other words, Events
				should be thought of more as living records and <i>not</i> as news
				reports. By extension, this page is simply a chronological collection
				of <strong>{{ len $events }}</strong> records, <i>not</i> a news feed.
			</p>
		</article>

		{{ partial "events" $events }}
	</main>
{{ end }}
