{{ define "style" }}
	{{ partialCached "css-events.html" . }}
{{ end }}

{{ define "main" }}
	{{ $class := and (.Param `profiles`) `aside-prev-sibling` }}

	<div class="event cntr {{ $class }}">
		<main>
			<header>
				<img src="{{ .Params.image }}" width="128" height="128" loading="lazy">

				<div>
					<h1>{{ .Title }}</h1>
					<u>{{ .Date.Format "Jan 2, 2006" }}</u>
				</div>
			</header>

			<article>{{ .Content }}</article>

			<h3>Sources :</h3>
			<ol class="sources">
				{{ range .Params.sources }}
					{{ $href := index . 1 }}
					{{ $text := index . 0 | default $href }}
					<li><a href="{{ $href }}" target="_blank">{{ $text }}</a></li>
				{{ end }}
			</ol>
		</main>

		<!-- The profiles of the people involved in the event (if any). -->
		{{ with .Params.profiles }}
			{{ partialCached "event-profiles.html" . . }}
		{{ end }}
	</div>
{{ end }}
