{{ define "ogdesc" }}
	{{ .Summary | truncate 69 | plainify }}
{{ end }}

{{ define "main" }}
	<main class="evtpg">
		<header style="--b: url({{ .Params.image }})">
			<h1>
				{{ .Title }}
				<time>Occurred on {{ .Date.Format `2 Jan 2006` }}</time>
			</h1>
		</header>

		<div class="tags">
			{{ range .Params.corpos }}{{ partialCached "tags/corpo" . . }}{{ end }}
			{{ range .Params.tags }}{{ partialCached "tags/tag" . . }}{{ end }}
			{{ range .Params.profiles }}{{ partialCached "tags/profile" . . }}{{ end }}
		</div>
		<hr>

		<article>{{ .Content }}</article>
		<hr>

		<h4></h4>
		{{ partial "sources" .Params.sources }}
	</main>
{{ end }}
