{{ $eventIcon := partialCached "icon" (dict "name" "event" "size" "") "event-card-event" }}

<!--
 An event card is a card link containing two top level sections:
 1) the header (image, title, meta) and 2) the text preview.
-->
<a class="event card" href="{{ .RelPermalink }}" title="{{ .Title }}">
	<!-- Image, title, meta -->
	<header>
		<img src="{{ .Params.image }}" loading="lazy">

		<div>
			<h2>{{ .Title }}</h2>
			<u>{{ $eventIcon }} {{ .Date.Format "Jan 2, 2006" }}</u>
		</div>
	</header>

	<!-- Preview -->
	<p>{{ .Summary | truncate 90 }}</p>
</a>
