{{ $launchIcon := partialCached "icon.html" "launch" "launch" }}

{{ $name := .Title }}
{{ $img := partialCached "profile-pic.html" . $name }}

<a class="profile card" href="{{ .RelPermalink }}">
	<!-- Title area: profile pic, name, nickname (if any) and the launch icon. -->
	<header>
		<img src="{{ $img }}" loading="lazy">

		<div>
			<h2>{{ $name }}</h2>
			{{ with .Params.aka }}<p>{{ . }}</p>{{ end }}
		</div>

		{{ $launchIcon }}
	</header>

	<p>{{ .Summary | truncate 80 }}</p>
</a>

<!--
 The profile's online / social media links.

 It's illegal for `a` elements to contain other `a` elements. Since the profile
 card itself is an `a` element, the social links (which are a bunch of `a`
 elements) need to be outside the card.
-->
{{ partialCached "profile-links.html" .Params.socials $name }}
