{{ define "style" }}
<style>
.cntr {
	position: relative;
	width: 1050px;
}
.gasl > div h2 {
	margin: 1rem auto 2.5rem;
	text-align: center;
}
.gasl > div h2 a {
	color: var(--bodyColor);
	position: relative;
}
.gasl > div h2 a:hover {
	text-decoration: none;
}
.gasl > div h2 a:hover:after {
	content: "";
	background: no-repeat center/100% url('data:image/png;base64,{{ (resources.Get "link.png").Content | base64Encode }}');
	position: absolute;
	top: -1.75rem;
	width: 20px;
	height: 20px;
}
.gasl > div h2 img {
	margin: 0 auto 1rem;
}
.gasl .cntr {
	border-top: var(--border1);
	padding-top: 3rem !important;
	padding-bottom: 3rem !important;
}
.gasl > div:nth-child(odd) > .cntr {
	background: var(--bodyBg2);
}
.gasl .row {
	display: flex;
	align-items: center;
	flex-flow: row wrap;
}
.gasl .row > :first-child {
	padding-right: 1.5rem;
	padding-left: 1.5rem;
}
.gasl .row > :first-child > :first-child {
	margin-top: 0;
}
.gasl .row article {
	text-align: center;
}
.gasl .row > a {
	margin: auto;
}
.gasl .row > a > img {
	border: var(--border1);
	width: 450px;
}
@media (min-width: 750px) {
	.gasl > div:nth-child(even) .row {
		flex-direction: row-reverse;
	}
	.gasl .row > :first-child {
		flex: 0 1 50%;
	}
	.gasl .row > a {
		flex: 0 1 50%;
	}
}
.gasl > div {
	display: block;
	margin-top: -100px !important;
	padding-top: 100px !important;
}
</style>
{{ end }}

{{ define "main" }}
	<main>
		<div>
			<img src="/img/emoji/face-wtf.png" width="64" height="64">
			<h1>{{ .Title }}</h1>
		</div>
		<hr>

		<article>{{ .Content }}</article>

		<div class="gasl">
			{{ range .Pages.ByDate }}
				{{ $img := printf "/%s%s" .File.Dir .Params.img }}
				{{ $id := substr (.File.Dir | sha1) 0 5 }}

				<div id="{{ $id }}">
					<div class="cntr row">
						<div>
							<h2>
								<img loading="lazy" width="32" height="32" src="/logos/{{ .Params.corpo }}.png">
								<a href="#{{ $id }}">{{ .Title }}...</a>
							</h2>
							<article>{{ .Content }}</article>
						</div>

						<a href="{{ $img }}">
							<img src="{{ $img }}" loading="lazy">
						</a>
					</div>
				</div>
			{{ end }}
		</div>
	</main>
{{ end }}
