{{ define "style" }}
<style>
.links > div {
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	margin-bottom: 2rem;
}
.links a {
	margin: 0.5rem 1.5rem 0.5rem 0;
}
[data-aka]:after {
	content: attr(data-aka) " ";
	color: var(--caption);
	display: block;
	font-size: 0.95rem;
	margin: 0.75rem 0 0 0;
}
</style>
{{ end }}

{{ define "main" }}
	<div class="cntr w900">
		<header>
			<img src="{{ partialCached `profile/pic` . .Title }}" width="120" height="120" loading="lazy">
			<h1 {{ with .Params.aka }}data-aka="{{ . }}"{{ end }}>{{ .Title }}</h1>
		</header>

		<div class="links">
			{{ partialCached "profile/links" .Params.links .Title }}
		</div>

		<article>{{ .Content }}</article>
		<hr>

		<div class="condensed">
			{{ partial "timeline" .Pages }}
		</div>
	</div>
{{ end }}
