{{ define "style" }}
<style>
.prof.cntr [data-aka]:after {
	font-size: 0.95rem;
	margin: 0.75rem 0 0 0;
}
.prof.cntr section {
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	margin-bottom: 3rem;
}
.prof.cntr section a {
	margin: 0.5rem 1.5rem 0.5rem 0;
}
</style>
{{ end }}

{{ define "main" }}
	{{ $name := .Title }}
	{{ $img := partialCached "profile-pic.html" . $name }}

	<div class="cntr prof w900">
		<header>
			<img src="{{ $img }}" width="120" height="120" loading="lazy">
			<h1 {{ with .Params.aka }}data-aka="{{ . }}"{{ end }}>{{ $name }}</h1>
		</header>

		{{ partialCached "profile-links.html" .Params.socials $name }}

		<article>{{ .Content }}</article>
		<hr>

		<div class="condensed">
			{{ partial "timeline" .Pages }}
		</div>
	</div>
{{ end }}
