<!--
 An event card is a card link containing two top level sections:
 1) the header (image, title, meta) and 2) the text preview.
-->
{{ define "partials/cards/event" }}
	<a class="card" href="{{ .RelPermalink }}">
		<div>
			<img src="{{ .Params.image }}" loading="lazy">
			<b title="{{ .Title }}">{{ .Date.Format `2 Jan 2006` }}</b>
		</div>

		<p>{{ .Summary | truncate 80 }}</p>
	</a>
{{ end }}

<!--
 A profile card is a card link immediately followed by the profile's online
 links. The card has two top level sections: the header (propic, name, optional
 nickname) and the short bio preview. The profile's online links must follow
 the card since it's illegal for `a` elements to contain other `a` elements.
-->
{{ define "partials/cards/profile" }}
	<a class="card" href="{{ .RelPermalink }}">
		<div>
			<img src="{{ partialCached `profile-pic.html` . .Title }}" loading="lazy">
			<b title="{{ .Title }}">{{ .Params.aka | default "" }}</b>
		</div>

		<p>{{ .Summary | truncate 80 }}</p>
	</a>

	{{ partialCached "profile-links.html" .Params.links .Title }}
{{ end }}

{{ define "partials/cards/alt" }}
	<a class="alttech card" href="{{ .RelPermalink }}">
		<div>
			<img src="/img/logos/{{ .Title | anchorize }}.png" loading="lazy">
			<h2>{{ .Title }}</h2>
		</div>

		<p>{{ .Summary | truncate 95 | plainify }}</p>
	</a>
{{ end }}

{{ define "partials/cards/alttr" }}
	<a class="card" href="{{ .RelPermalink }}">
		<img loading="lazy" src="/img/{{ .Params.image }}.png">
		<u>{{ .Title }}</u>
	</a>
{{ end }}

{{ define "partials/cards/tag" }}
	{{ with site.GetPage (printf "/tags/%s" .) }}
		<a class="card" href="{{ .RelPermalink }}">
			<img src="{{ .Params.image }}" loading="lazy">
			<u>{{ .LinkTitle | default ($ | title) }}</u>
		</a>
	{{ end }}
{{ end }}

{{ define "partials/cards/tag-count" }}
	{{ with site.GetPage (printf "/tags/%s" .) }}
		<a class="card" href="{{ .RelPermalink }}">
			<img src="{{ .Params.image }}" loading="lazy">
			<div data-count="{{ len .Pages }}">{{ .LinkTitle | default ($ | title) }}</div>
		</a>
	{{ end }}
{{ end }}

{{ define "partials/cards/bigtech" }}
	<a class="card" href="/{{ . }}/">
		<img src="/img/logos/{{ . }}.png" loading="lazy">
		{{ index site.Data.bigtechNames . | default (. | title) }}
	</a>
{{ end }}
