{{ define "partials/cards/event" }}
	<a class="card" href="{{ .RelPermalink }}">
		<div>
			<img src="{{ .Params.image }}" loading="lazy">
			<b title="{{ .Title }}">{{ .Date.Format `2 Jan 2006` }}</b>
		</div>

		<p>{{ .Summary | truncate 80 }}</p>
	</a>
{{ end }}

{{ define "partials/cards/alt" }}
	<a class="alttech card" href="{{ .RelPermalink }}">
		<div>
			<img src="/img/logos/{{ anchorize .Title }}.png" loading="lazy">
			<h2>{{ .Title }}</h2>
		</div>

		<p>{{ .Summary | truncate 82 | plainify }}</p>
	</a>
{{ end }}

{{ define "partials/cards/alttr" }}
	<a class="card" href="{{ .RelPermalink }}">
		<img src="/{{ .Params.image }}.png" loading="lazy">
		<u>{{ .Title }}</u>
	</a>
{{ end }}

{{ define "partials/cards/tag" }}
	{{ with site.GetPage (printf "/tags/%s" .) }}
		<a class="card" href="{{ .RelPermalink }}">
			<img src="{{ .Params.image }}" loading="lazy">
			<u>{{ .LinkTitle | default ($ | title) }}</u>
		</a>
	{{ end }}
{{ end }}

{{ define "partials/cards/tag-count" }}
	{{ with site.GetPage (printf "/tags/%s" .) }}
		<a class="card" href="{{ .RelPermalink }}">
			<img src="{{ .Params.image }}" loading="lazy">
			<div data-count="{{ len .Pages }}">{{ .LinkTitle | default ($ | title) }}</div>
		</a>
	{{ end }}
{{ end }}

{{ define "partials/cards/corpo" }}
	<a class="card" href="/{{ . }}/">
		<img src="/img/logos/{{ . }}.png" loading="lazy">
		<u>{{ index site.Data.bigtechNames . | default (. | humanize | title) }}</u>
	</a>
{{ end }}
