{{ define "partials/css/global" }}
	{{ $names := slice "config" "general" "layout" "button" "nav-and-footer" "sidebar" "cards" "article" "timeline" }}
	{{ $names := apply $names "printf" "%s.css" "." }}

	<!-- Build a slice containing each stylesheet as a resource. -->
	{{ $sheets := slice }}{{ range $names }}
		{{ $sheets = $sheets | append (printf "css/%s" . | resources.Get) }}
	{{ end }}

	<!-- Bundle the stylesheet resources and fingerprint the bundle. -->
	{{ $css := $sheets | resources.Concat "/css/main.css" | minify | fingerprint "sha512" }}

	<link rel="stylesheet" href="{{ $css.RelPermalink }}" integrity="{{ $css.Data.Integrity }}">
{{ end }}

{{ define "partials/css/inline" }}
	{{ $res := printf "css/%s" . | resources.Get }}
	{{ $css := $res.Content | safeCSS }}
	<style>{{ $css }}</style>
{{ end }}
