<footer>
	<div class="cntr">
		<section>
			{{ range site.Data.footerLinks }}
				<div>
					<h3>{{ .title }}</h3>

					{{ range .links }}
						<a href="{{ .href }}">
							{{ with .logo }}
								<img src="{{ . }}" width="20" height="20" loading="lazy">
							{{ end }}

							{{ with .icon }}
								{{ partial "icon.html" (merge . (dict  "size" 20)) }}
							{{ end }}

							{{ .text }}
						</a>
					{{ end }}
				</div>
			{{ end }}
		</section>

		<img src="/img/bigtechfail-long.png" height="36" width="auto" loading="lazy">
	</div>
</footer>
