<!-- Default values for color, size and name. -->
{{ $name := . }}
{{ $color := "" }}
{{ $size := 24 }}

<!-- If the context is a map, use its values instead. -->
{{ if reflect.IsMap . }}
	{{ $name = .name | default "lens" }}
	{{ $color = .color | default $color }}
	{{ if isset . "size" }} {{ $size = .size }} {{ end }}
{{ end }}

<div class="icon">
	<svg viewBox="0 0 24 24" fill="{{ $color }}" width="{{ $size }}" height="{{ $size }}">
		{{ index site.Data.icons $name | safeHTML }}
	</svg>
</div>
