{{ $links := dict
	"posts" "Posts"
	"alts" "Alternatives"
	"events" "Event Archives"
}}

<nav>
	<a href="/">
		{{ if .IsHome }}
			{{ $img := (resources.Get "favicon-96.png").Resize "64x" }}
			<img src="data:image/png;base64,{{ $img.Content | base64Encode }}" height="36" width="36">
		{{ else }}
			<img src="/logo.png" height="36" width="auto" loading="lazy">
		{{ end }}
	</a>

	{{ range slice "posts" "alts" "events" }}
		<a href="/{{ . }}/">{{ index $links . }}</a>
	{{ end }}
</nav>

<input id="tn" type="checkbox">
<label for="tn"></label>

<aside style="transform: translateX(110%)">
	{{ range slice "events" "alts" "posts" }}
		<a href="/{{ . }}/">{{ index $links . }}</a>
	{{ end }}

	<div>
		<div class="corpos grid xs-3">
			{{ range site.Data.orderCorps }}
				<a href="/{{ .k }}/">
					<i class="img {{ .k }}"></i>
					<u>{{ index site.Data.bigtechNames .k | default (.k | title) }}</u>
				</a>
			{{ end }}
		</div>

		<div class="tagls">
			<input type="checkbox" id="seeMore">
			<label for="seeMore"></label>
			<div>
				{{ range site.Data.tagsMeta.general }}
					{{ partialCached "cards/tag-count" . . }}
				{{ end }}
			</div>
		</div>

		<div class="tagls s">
			{{ range site.Data.tagsMeta.specific }}
				{{ partialCached "cards/tag" . . }}
			{{ end }}
		</div>
	</div>
</aside>
