{{ $links := site.Data.navLinks }}

<nav>
	<a href="/">
		{{ if .IsHome }}
			{{ $img := (resources.Get "favicon-96.png").Resize "64x" }}
			<img src="data:image/png;base64,{{ $img.Content | base64Encode }}" height="36" width="auto">
		{{ else }}
			<img src="/logo.png" height="36" width="auto" loading="lazy">
		{{ end }}
	</a>

	{{ range $links }}
		<a href="{{ .href }}">{{ .text }}</a>
	{{ end }}
</nav>

<input id="tn" type="checkbox">
<label for="tn"></label>

<div>
	{{ range $links }}
		<a href="{{ .href }}">{{ .text }}</a>
	{{ end }}
</div>
