{{ $links := slice "/posts/" "/alts/" "/events/" }}

<nav>
	<a href="/">
		{{ if .IsHome }}
			{{ $img := (resources.Get "favicon-96.png").Resize "64x" }}
			<img src="data:image/png;base64,{{ $img.Content | base64Encode }}" height="36" width="36">
		{{ else }}
			<img src="/logo.png" height="36" width="auto" loading="lazy">
		{{ end }}
	</a>

	{{ range $links }}
		<a href="{{ . }}"></a>
	{{ end }}
</nav>

<input id="tn" type="checkbox">
<label for="tn"></label>

<aside>
	{{ range $links }}
		<a href="{{ . }}"></a>
	{{ end }}

	<div>
		<h3>Corporations:</h3>
		<div class="corpos grid xs-3">
			{{ range site.Data.orderCorps }}
				<div>
					<a class="card" href="/{{ .k }}/">
						<i class="img {{ .k }}"></i>
						{{ index site.Data.bigtechNames .k | default (.k | title) }}
					</a>
				</div>
			{{ end }}
		</div>

		<h3>Tags:</h3>
		<div class="tags">
			<input type="checkbox" id="seeMore">
			<label for="seeMore"></label>
			<div>
				{{ range site.Data.tagsMeta.general }}
					{{ partialCached "cards/tag-count" . . }}
				{{ end }}
			</div>
		</div>

		<h3>Specifc Tags:</h3>
		<div class="tags">
			{{ range site.Data.tagsMeta.specific }}
				{{ partialCached "cards/tag" . . }}
			{{ end }}
		</div>
	</div>
</aside>
