{{ $links := site.Data.navLinks }}

<nav>
	<a href="/">
		{{ $img := cond .IsHome "short-96" "long" }}
		<img src="/img/bigtechfail-{{ $img }}.png" height="36" width="auto" loading="lazy">
	</a>

	<div class="items hide-xs">
		{{ range $links }}
			<a href="{{ .href }}">{{ .text }}</a>
		{{ end }}
	</div>
</nav>

<div class="hide-sm-and-up">
	<input type="checkbox" class="toggle" id="navToggle">

	<label for="navToggle">
		<div class="hamburger"><i></i></div>
		<div class="overlay"></div>
	</label>

	<aside data-nav>
		<nav></nav>

		{{ range $links }}
			<a href="{{ .href }}">{{ .text }}</a>
		{{ end }}
	</aside>
</div>
