{{ $hamburger := partial "icon" (dict "name" "menu" "color" "#eee") }}
{{ $navLinks := site.Data.navLinks }}

<nav>
	<a href="/">
		{{ $img := cond .IsHome "short-96" "long" }}
		<img src="/img/bigtechfail-{{ $img }}.png" height="36" width="auto" loading="lazy">
	</a>

	<div class="items hide-xs">
		{{ range $navLinks }}
			<a href="{{ .href }}">{{ .text }}</a>
		{{ end }}
	</div>

	<div class="hide-sm-and-up">
		<input type="checkbox" class="toggle" id="navToggle">

		<label for="navToggle">
			{{ $hamburger }}
			<div class="overlay"></div>
		</label>

		<aside>
			<nav></nav>

			{{ range $navLinks }}
				<a href="{{ .href }}">{{ .text }}</a>
			{{ end }}
		</aside>
	</div>
</nav>
