{{ $sumsMeta := resources.Get "data/platform-sums.yaml" | unmarshal }}

{{ $slug := .Name | anchorize }}
{{ $sumFields := .Params.sums | default dict }}
{{ $alts := index .Site.Taxonomies.altfor $slug }}

<div class="row content">
	<!-- The summary article on the platform. -->
	<article class="col md-7 lg-8">
		{{ .Content }}
	</article>

	<!-- The policy data and alternative platforms. -->
	<!-- This appears as a sidebar on larger screens. -->
	<section class="col md-5 lg-4">
		<table>
			{{ with .Params.legal }}
				{{ partial "policy-table-rows.html" . }}
			{{ end }}

			{{ range $k, $v := $sumsMeta }}
				<!-- Proceed if the Platform provides this sum key. -->
				{{ with index $sumFields $k }}
					{{ $num := where $.Pages "Params.tags" "intersect" (slice $k) | len }}

					<tr>
						<td>{{ $v.caption }}</td>
						<td><b class="{{ $k }}">{{ $num }}</b></td>
					</tr>
				{{ end }}
			{{ end }}
		</table>

		{{ with $alts }}
			<h3>Alternative Platforms ({{ len . }})</h3>

			<div class="grid sm-6 md-12 alts">
				{{ range . }}
					<div>{{ partial "cards/alttech-min.html" . }}</div>
				{{ end }}
			</div>
		{{ end }}
	</section>
</div>
