{{ $slug := .Title | anchorize }}
{{ $alts := index .Site.Taxonomies.altfor $slug }}

<div class="row content">
	<!-- The summary article on the platform. -->
	<article class="col md-7 lg-8">
		{{ .Content }}
	</article>

	<!-- The policy data and alternative platforms. -->
	<!-- This appears as a sidebar on larger screens. -->
	<section class="col md-5 lg-4">
		{{ with .Params.legal }}
			{{ partial "policy-table.html" . }}
		{{ end }}

		{{ with $alts }}
			<h3 data-count="{{ len . }}">Alternative Platforms</h3>

			<div class="grid sm-6 md-12 alts">
				{{ range . }}
					<div>{{ partialCached "cards/alttech" . .RelPermalink }}</div>
				{{ end }}
			</div>
		{{ end }}
	</section>
</div>
