{{ $names := dict "tos" "Terms of Service" "privacy" "Privacy Policy" "commguides" "Community Guidelines" }}

<table>
	{{ range $k := slice "tos" "privacy" "commguides" }}
		{{ with index $ $k }}
			{{ $asof := .asof | dateFormat "Jan 2, 2006" }}
			{{ $name := .name | default (index $names $k) }}
			{{ $wc := .wc | lang.NumFmt 0 }}

			<tr title="Last we checked: {{ $asof }}">
				<td><b>{{ $name }}:</b></td>
				<td>
					<a href="{{ .url }}" target="_blank" class="open">{{ $wc }} words</a>
				</td>
			</tr>
		{{ end }}
	{{ end }}
</table>
