<section>
	<!--
	  Range over the link meta data, not the links themselves, so that:
	   1) the order is consistent, every time, no matter what links a profile provides.
		 2) to change the order, or remove a link, a change is only needed in one place.
	-->
	{{ range $v := site.Data.profileLinksMeta }}
		<!-- Proceed if the profile provides this link. -->
		{{ with index $ .key }}
			{{ $prefix := $v.prefix | default "" }}
			{{ $suffix := $v.suffix | default "" }}
			{{ $href := printf "https://%s/%s%s" $prefix . $suffix }}

			<a href="{{ $href }}" title="{{ $v.text }}" target="_blank">
				{{ $type := cond (isset $v "icon") "icons" "logos" }}
				<img src="/img/{{ $type }}/{{ $v.key }}.png" width="32" height="32" loading="lazy">
			</a>
		{{ end }}
	{{ end }}
</section>
