<!--
	The profile image HTML for the given Profile, using image param if specified,
	defaulting to the implicit JPG or PNG, respectively.
-->
{{ define "partials/profile/pic" }}
	{{ $p := "" }}

	{{ with .Param "image" }}
		{{ $p = . }}
	{{ else }}
		{{ $k := anchorize .Title }}

		{{ range slice "jpg" "png" }}
			{{ if eq "" $p }}
				{{ $src := printf "/img/people/%s.%s" $k . }}

				{{ if fileExists (printf "/static%s" $src) }}
					{{ $p = $src }}
				{{ end }}
			{{ end }}
		{{ end }}
	{{ end }}

	{{ return $p }}
{{ end }}
