<aside>
	<div data-stuff>
		<h3>Corporations:</h3>
		<div class="corpos grid xs-3">
			{{ range site.Data.orderCorps }}
				<div>{{ partialCached "cards/bigtech" .k .k }}</div>
			{{ end }}
		</div>

		<h3>General Tags:</h3>
		<div class="tags">
			<input type="checkbox" id="seeMore">
			<label for="seeMore"></label>
			<div>
				{{ range site.Data.tagsMeta.general }}
					{{ partialCached "cards/tag-count" . . }}
				{{ end }}
			</div>
		</div>

		<h3>Specifc Tags:</h3>
		<div class="tags">
			{{ range site.Data.tagsMeta.specific }}
				{{ partialCached "cards/tag-count" . . }}
			{{ end }}
		</div>
	</div>
</aside>
