{{ define "partials/tags/tag" }}
	{{ with site.GetPage (printf "/tags/%s" .) }}
		<a href="{{ .RelPermalink }}">
			<img src="{{ .Params.image }}" loading="lazy">
			<u>{{ .LinkTitle | default ($ | title) }}</u>
		</a>
	{{ end }}
{{ end }}

{{ define "partials/tags/corpo" }}
	<a href="/{{ . }}/">
		<img src="/logos/{{ . }}.png" loading="lazy">
		{{ index site.Data.bigtechNames . | default (. | humanize | title) }}
	</a>
{{ end }}

{{ define "partials/tags/profile" }}
	{{ with site.GetPage (printf "/profiles/%s" .) }}
		<a href="{{ .RelPermalink }}">
			{{ partialCached `profile/pic` . .Title }}
			{{ .Title }}
		</a>
	{{ end }}
{{ end }}

{{ define "partials/tags/alttr" }}
	{{ if eq "string" (printf "%T" .) }}
		{{ with index site.Taxonomies.alttrs . }}
			{{ partialCached "tags/alttr" .Page .Page }}
		{{ end }}
	{{ else }}
		<a href="{{ .RelPermalink }}">
			<img src="/{{ .Params.image }}.png" loading="lazy">
			{{ .Title }}
		</a>
	{{ end }}
{{ end }}
