<h3>General Tags:</h3>
<div class="tags">
	{{ range site.Taxonomies.tags.ByCount }}
		{{ if .Term | in site.Data.tagsMeta.general }}
			<a class="tag card" href="{{ .Page.RelPermalink }}">
				<img src="{{ .Page.Params.image }}" loading="lazy">

				<div data-count="{{ len .Page.Pages }}">
					{{ .Page.LinkTitle | default (.Term | title) }}
				</div>
			</a>
		{{ end }}
	{{ end }}
</div>

<h3>Specifc Tags:</h3>
<div class="tags">
	{{ range site.Data.tagsMeta.specific }}
		{{ with site.GetPage (printf "/tags/%s" .) }}
			<a class="tag card" href="{{ .RelPermalink }}">
				<img src="{{ .Params.image }}" loading="lazy">
				<div data-count="{{ len .Pages }}">{{ .LinkTitle | title }}</div>
			</a>
		{{ end }}
	{{ end }}
</div>
