<h3>Corporations:</h3>
<div class="platforms">
	{{ range site.Data.orderCorps }}
		{{ partialCached "bigtech-chip" .k .k }}
	{{ end }}
</div>

<h3>General Tags:</h3>
<div class="tags">
	<input type="checkbox" id="seeMore">
	<label for="seeMore"></label>
	<div>
		{{ range site.Data.tagsMeta.general }}
			{{ partialCached "tag-card-count" . . }}
		{{ end }}
	</div>
</div>

<h3>Specifc Tags:</h3>
<div class="tags">
	{{ range site.Data.tagsMeta.specific }}
		{{ partialCached "tag-card-count" . . }}
	{{ end }}
</div>
